<service-provider-header></service-provider-header>
<div class="service-provider-main-page">
    <!--sidebar-->
    <div class="service-provider-leftSide">
        <sidebar></sidebar>
    </div>

    <!--right side seciton-->
    <div class="service-provider-rightSide">
        <!--breadcrumbs-->
        <div class="breadcrumbsSection">


            <ul>
                <li [routerLink]="['/service-provider/dashboard']">Dashboard</li>
                <span>&rarr;</span>
                <li [routerLink]="['/service-provider/payment-history']">Payment History</li>
            </ul>
            <i (click)="myFunction()" class="material-icons userMenuIcon">menu</i>
        </div>
        <div class="userMenuContainer" *ngIf="isShowSideMenuPopup">
            <div class="userMenuFieldsContainer">

                <div class="sidebarItems" routerLink='/service-provider/dashboard' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <p>Dashboard</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/facility-listing' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">location_city</i>
                    </div>
                    <p>Facility</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/payment-history' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">payment</i>
                    </div>
                    <p>Payment</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/booking-history' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">date_range</i>
                    </div>
                    <p>Booking</p>
                    <div class="sidebarIcon">

                    </div>
                </div>


            </div>
        </div>
        <div class="service-provider-page payment-history-container">


            <!-- <div class="searchBoxContainer adminBoxShadow">
                <form [formGroup]="form">
                    <select class="month" formControlName="month">
                        <option [disabled]="true" [selected]="true" value="">Select Month *</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select class="year" formControlName="year">
                        <option [disabled]="true" [selected]="true" value="">Select Year *</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>

                    </select> -->
            <!-- <select class="location" formControlName="locationName"> -->
            <!-- <option [disabled]="true" value="">Select City</option> -->
            <!-- <option [selected]="true" value="0">All Cities</option>
                        <option *ngFor="let city of cityArray" value="{{city.name | titlecase}}">{{city.name | titlecase}}</option>
                    </select>

                    <input type="text" placeholder="Service Provider" class="spInputField" formControlName="serviceProviderSearchText" />

                    <button class="searchButton adminButton" (click)="searchSpPaymentDetails()">
                        <i class="fa fa-search searchField" aria-hidden="true"></i>

                    </button>
                    <div class="paymentErrorContainer" *ngIf="showPaymentErrorMessage">
                        {{errorMessage}}
                    </div>
                </form>
            </div>

            <div class="noDataMessageContainer" *ngIf="showNoDataMessageContainer">
                No data for the search.
            </div> -->


            <!-- <div class="StatusTypeContainer">
                <div class="statusHeadingContainer">

                    <p [class.activeLink]="paymentStatus==1" (click)="receivedSelected()">Recieved</p>
                    <p (click)="refundSelected()" [class.activeLink]="paymentStatus==0">Refund</p>
                </div>
                <div class="headingExportContainer">
                    <div class="pdfCSVContainer">
                        <i style="padding-right: 9px;font-size: 15px;" class="fa fa-download"></i>
                        <p (click)="exportToPDF()">PDF</p>/
                        <p (click)="exportToCSV()">CSV</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="loadingContainer" *ngIf="isLoadingData">
                <img src="../../assets/loading.gif" />
            </div>
            <div class="loadingContainer" *ngIf="noRecordFound">
                <p>No Record Found</p>
            </div>
            <div class="loadingContainer" *ngIf="errorMsz!=''">
                <p>{{errorMsz}}</p>
            </div>
            <div class="tableDiv" [hidden]="isLoadingData || noRecordFound || errorMsz!=''">
                <table>
                    <thead>
                        <tr class="tableTitle">
                            <th>Date</th>
                            <th>Facility Type</th>
                            <th>Facility Title</th>
                            <th>Building Name</th>
                            <th>Consumer Name</th>
                            <th>City </th>
                            <th>Locality </th>
                            <th>Payment </th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let paymentData of listOfpaymentHistory">
                            <td>{{paymentData.date}}</td>
                            <td>{{paymentData.facilityType}}</td>
                            <td>{{paymentData.title}}</td>
                            <td>{{paymentData.buildingName}}</td>
                            <td>{{paymentData.consumerName}}</td>
                            <td>{{paymentData.city}}</td>
                            <td>{{paymentData.locality}}</td>
                            <td>{{paymentData.payment}}</td>
                        </tr>

                    </tbody>
                </table>
            </div> -->

            <!-- *here* -->
            <!-- *ngIf="showPaymentStatus" -->
            <div class="adminStatusContainers adminBoxShadow ">
                <div class="contentContainer">

                    <div class="headingContianer">
                        <p class="paymentHeading">Payments</p>
                        <div class="selectSection">
                            <select id="select_year" class="selectYear" [(ngModel)]="selectedYear" (change)="getPaymentReport()">
                                <option [disabled]="true" value="">Select Year</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                            </select>
                            <select id="select_month" class="selectMonth" [(ngModel)]="selectedMonth" (change)="getPaymentReport()">
                                <option [disabled]="true" value="">Select Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>

                        </div>
                    </div>
                    <div class="sectionsContainer" *ngIf="paymentStatusDetail!=null">
                        <div class="sectionContainer">
                            <div class="paymentStatusSectionHeaderContainer">
                                <span class="paymentsTitle"> Payment</span>
                            </div>
                            <div class="itemContainer">
                                <span class="itemLeftSpan">
                                    <img src="assets/icons/admin-icons/online payment.svg" />Online Payment</span>
                                <span class="itemRightSpan">{{paymentStatusDetail.online}}</span>
                            </div>
                            <div class="itemContainer">
                                <span class="itemLeftSpan">
                                    <img src="assets/icons/admin-icons/offline payment.svg" />Offline Payment</span>
                                <span class="itemRightSpan">{{paymentStatusDetail.offline}}</span>
                            </div>
                            <div class="itemContainer">
                                <span class="itemLeftSpan">
                                    <img src="assets/icons/admin-icons/offline payment.svg" />Cancellation Charge</span>
                                <span class="itemRightSpan">{{paymentStatusDetail.onlineCancelCharge}}</span>
                            </div>
                        </div>
                        <div class="sectionContainer">
                            <div class="paymentStatusSectionHeaderContainer">
                                <span class="paymentsTitle">Refund</span>
                            </div>
                            <div class="itemContainer">
                                <span class="itemLeftSpan">
                                    <img src="assets/icons/admin-icons/online refund.svg" />Online Refund</span>
                                <span class="itemRightSpan">{{paymentStatusDetail.onlineRefund}}</span>
                            </div>
                            <div class="itemContainer">
                                <span class="itemLeftSpan">
                                    <img src="assets/icons/admin-icons/offline cancelled.svg" />Offline Cancellation</span>
                                <span class="itemRightSpan">{{paymentStatusDetail.offlineRefund}}</span>
                            </div>
                        </div>
                        <div class="sectionContainer">
                            <div class="paymentStatusSectionHeaderContainer">
                                <span class="paymentsTitle">Charges</span>
                            </div>
                            <div class="itemContainer">
                                <span class="itemLeftSpan">
                                    <img src="assets/icons/admin-icons/huddil commission.svg" />Huddil Commission</span>
                                <span class="itemRightSpan">{{paymentStatusDetail.commission | number:'1.2'}}</span>
                            </div>
                            <div class="itemContainer">
                                <span class="itemLeftSpan">
                                    <img src="assets/icons/admin-icons/transaction charge.svg" />Transaction Charges</span>
                                <span class="itemRightSpan">{{paymentStatusDetail.transcationCharge}}</span>
                            </div>
                            <div class="itemContainer">
                                <span class="itemLeftSpan">
                                    <img class="rupeeIcon" src="assets/icons/admin-icons/settlement.svg" />Settlement
                                    <label class="smallText">(SP)</label>
                                </span>
                                <span class="itemRightSpan">{{paymentStatusDetail.settlement | number:'1.2'}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- *ngIf="showSPDetailsTable" -->
            <div class="spPaymentDetailsTitleAndTable">
                <div class="serviceProviderPaymentDetailsTableTitle">
                    <!-- <p>{{tableHeadingText}}</p> -->
                    <p class="spPaymentDetail">Service Provider - Payment Details</p>
                    <!-- <button class="backButton adminButton" (click)="goToPreviousPage()">Back</button> -->
                </div>

                <div class="paymentDetailsTableForm" *ngIf="paymentStatusDetailsTable!=null">
                    <table>
                        <tr>
                            <th rowspan="2">Building Name</th>
                            <th rowspan="2">Facility Name</th>
                            <th colspan="3" class="online">Online </th>
                            <th colspan="2" class="offline">Offline </th>
                            <th rowspan="2">Transaction Charges(%)</th>
                            <th rowspan="2">Huddil Commission</th>
                            <th rowspan="2">Settlement Amount</th>
                        </tr>
                        <tr>
                            <th class="common">Payment</th>
                            <th class="common">Refund</th>
                            <th class="common">Penality</th>
                            <th class="common">Payment</th>
                            <th class="common">Cancelled</th>
                        </tr>


                        <tr *ngFor="let spPaymentDetails of paymentStatusDetailsTable">
                            <td>{{spPaymentDetails.lName}}</td>
                            <td>{{spPaymentDetails.fName}}</td>
                            <td>{{spPaymentDetails.online}}</td>
                            <td>{{spPaymentDetails.onlineRefund}}</td>
                            <td>{{spPaymentDetails.onlineCancelCharge}}</td>
                            <td>{{spPaymentDetails.offline | number:'1.2'}}</td>
                            <td>{{spPaymentDetails.offlineRefund}}</td>
                            <td>{{spPaymentDetails.transcationCharge}}</td>
                            <td>{{spPaymentDetails.commission | number:'1.2'}}</td>
                            <td>{{spPaymentDetails.settlement | number:'1.2'}}</td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<service-provider-footer></service-provider-footer>
<div *ngIf="this.meetupService.isShowPopup" class="confirmAlert ">
    <div class="mszbox zoomIn" [class.zoomOut]="!this.meetupService.isShowPopup">
        <div class="popup-header" [class.warning]="this.meetupService.isWarningPopup">
            <h3 *ngIf="this.meetupService.isWarningPopup"> Alert!</h3>
            <h3 *ngIf="!this.meetupService.isWarningPopup"> Success!</h3>
        </div>
        <div class="popup-body">
            {{this.meetupService.popupMessage}}
        </div>
        <div class="popup-footer">
            <button id="button_ok_sessionNotExpired" class="consumerModuleButtons" *ngIf="!isSessionExpired" (click)="closePopup(0)">OK</button>
            <button id="button_ok_sessionExpired" class="consumerModuleButtons" *ngIf="isSessionExpired" (click)="closePopup(1)">OK</button>
        </div>

    </div>
</div>