/*breadcrumbs starts*/

.breadcrumbsSection {
    background: #6A96FF;
    padding-left: 30px;
}

.breadcrumbsSection ul {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.breadcrumbsSection ul li {
    color: #fff;
    font-size: 12px;
}

.breadcrumbsSection ul span {
    color: #fff;
    padding: 0px 7px;
}


/*breadcrumbs ends*/


/*page CSS starts*/

.attendeesListContainer {
    padding-bottom: 30px;
    min-height: 350px;
    background: #fff;
}

.attendessListHeader {
    flex-direction: row;
    display: flex;
    padding-left: 90px;
    padding-top: 40px;
}

.attendessListHeader p {
    font-size: 27px;
    color: #424242;
}

.noAttendeesListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #BCBCBC;
    margin-top: 20px;
}

.noAttendeesListContainer p {
    font-size: 25px;
}

.addEventButtonContainer button {
    height: 45px;
    width: 120px;
    background-color: #6A97FF;
    color: white;
    border: none;
    font-size: 18px;
}

.addEventButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 15px;
}

.listOfAttendeesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    justify-content: center;
}

.nameFieldContainer {
    height: 60px;
}

.attendeesListHeadingContainer {
    width: 640px;
    display: flex;
    justify-content: flex-start;
    background-color: #484848;
    padding-left: 38px;
    color: white;
    height: 40px;
    align-items: center;
    font-size: 18px;
}

.attendeesListFieldsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #A9A9A9;
    padding: 30px;
    width: 616px;
}

.attendeesListSubFieldsContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.inputField {
    height: 35px;
    padding-left: 23px;
    /* margin-bottom: 20px; */
    width: 96%;
    border: 1px solid #aaa;
}

.attendeesListInputFields {
    width: 170px;
    height: 35px;
    padding-left: 23px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
}

.saveAttendeesButtonsContainer {
    display: flex;
    justify-content: center;
}

.saveAttendeesButtonsContainer span {
    width: 20px;
}

.addNewAttendeesContainer {
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
}

.addNewAttendeesContainer a {
    color: #6A98FF;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
}

.cancelButton {
    width: 100px;
    height: 42px;
    font-size: 18px;
    background-color: #A1A1A1;
    color: white;
    border: none;
}

.saveButton {
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: #6A98FF;
    color: white;
    border: none;
}

.hintError {
    color: red;
    font-size: 11px;
    font-weight: lighter!important;
    /* margin-top: -26px;
    margin-bottom: 12px; */
    display: flex;
    justify-content: flex-start;
    padding: 2px 0px 10px 0px;
}

.removeItems {
    position: absolute;
    font-size: 15px;
    color: bls;
    right: -20px;
    cursor: pointer;
    color: red;
    top: 12px;
}


/* Team List Container Start */

.teamListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}

.teamListHeadingContainer {
    background-color: #464646;
    width: 80%;
    color: white;
    padding-left: 31px;
    font-size: 17px;
}

.listOfTeamsContainer {
    display: flex;
    flex-direction: column;
}

.individualTeamListItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #D1D1D1;
    color: black;
    width: 996px;
    padding-left: 30px;
    padding-right: 28px;
    margin-top: 3px;
}

.individualTeamListHeadingContainer {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.individualTeamListIconContainer {
    width: 5%;
    display: flex;
    justify-content: space-between;
}

.editIcon {
    cursor: pointer;
    margin: 5px;
}

.deleteIcon {
    cursor: pointer;
    margin: 5px;
}

.participantsContainer {
    background-color: white;
    border: 1px solid #828282;
    display: none;
}

.participantsDetailsContainer {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #828282;
    align-items: center;
    height: 40px;
}

.participantsDetailsContainer span {
    width: 50%;
    display: flex;
    justify-content: center;
}


/* Team List Container End */


/*sliding down & sliding up animation*/

.slide-down {
    max-height: 99999px;
}

button {
    background-color: #A1A1A1 !important;
}

button:hover {
    background-color: #6A96FF !important;
}

button:focus {
    background-color: #004DB7!important;
}

.loaderDivision {
    display: flex;
    justify-content: center;
}

@media screen and (min-width:320px) and (max-width:480px) and (orientation:portrait) {
    .individualTeamListItem {
        width: 320px;
        max-width: 480px;
    }
    .individualTeamListHeadingContainer {
        width: 90%;
    }
    .attendeesListHeadingContainer {
        width: 252px;
        max-width: 480px;
    }
    .attendeesListFieldsContainer {
        width: 227px;
        max-width: 480px;
    }
    .attendeesListSubFieldsContainer {
        flex-wrap: wrap;
    }
    .attendeesListInputFields {
        width: 217px;
    }
    .removeItems {
        right: -29px;
    }
    app-footer {
        display: none;
    }
}

@media screen and (min-width:640px) and (max-width:800px) and (orientation:landscape) {
    .individualTeamListItem {
        width: 500px;
        max-width: 800px;
    }
    .individualTeamListHeadingContainer {
        width: 90%;
    }
    .attendeesListHeadingContainer {
        width: 525px;
        max-width: 800px;
    }
    .attendeesListFieldsContainer {
        width: 500px;
        max-width: 800px;
    }
    .attendeesListSubFieldsContainer {
        flex-wrap: wrap;
    }
    .attendeesListInputFields {
        width: 135px;
    }
    .removeItems {
        right: -22px;
    }
    app-footer {
        display: none;
    }
}