.events {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.eventsBlock img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.eventsBlock {
    display: flex;
    margin-bottom: 25px;
}

.eventsBlock p {
    margin: 0px;
    margin-left: 15px;
    font-size: 13px;
    padding-right: 80px;
    text-align: justify;
    line-height: 22px;
}