/*default page css */

.service-provider-rightSide {
    float: left;
    width: calc(100% - 200px);
}


/*breadcrumbs*/

.breadcrumbsSection {
    background-color: #FF9D3F !important;
    padding-left: 30px;
}

.breadcrumbsSection ul {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.breadcrumbsSection ul li {
    color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.breadcrumbsSection ul li:last-child {
    cursor: inherit;
}

.breadcrumbsSection ul span {
    color: #fff;
    padding: 0px 7px;
}


/*end sidbar */

.service-provider-page {
    padding: 25px;
}


/*end default css */

.serviceProviderHeadingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E7E7E7;
}

.heading {
    font-size: 18px;
    color: #565656;
}

.seachFilterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchIcon {
    position: absolute;
    padding-left: 13px;
}

.seachFilterContainer input[type="text"] {
    height: 44px;
    width: 585px;
    padding-left: 37px;
}

.secondaryButton {
    width: 100px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    background-color: #8A8A8A;
    color: white;
    height: 42px;
    cursor: pointer;
    outline: none;
}

button:active {
    transform: translateY(3px);
}

.filterButton {
    width: 100px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    background-color: #FF9D3F;
    color: white;
    height: 42px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.parentContainer {
    width: 1150px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.spDetailsFilterContainer form {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    color: #8F8F8F;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
}

.extraFilterBox {
    border: 1px solid #c1c1c1;
    opacity: 0;
    z-index: 999999;
    height: 30px;
    transition: all 0.3s ease-in-out;
}

.openFilterHeight {
    height: 80px;
    border: 1px solid #c1c1c1;
    opacity: 1;
}

.indvidualFilterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.indvidualFilterContainer i {
    position: absolute;
    font-size: 18px;
    padding-left: 8px;
    /*top: 9px;*/
    line-height: inherit!important;
}

.indvidualFilterContainer select {
    width: 235px;
    height: 45px;
    padding-left: 30px;
    color: #8F8F8F;
}

.FacilityItemsContainer {
    display: flex;
    justify-content: space-between;
}

.closeIcon {
    position: absolute;
    right: 150px;
    top: 182px;
    font-size: 30px;
    background-color: white;
    border: 1px solid #9F9F9F;
    height: 26px;
    width: 26px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}


/*mine*/

.bookingDetailAndView {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking {
    border-right: 2px solid grey;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 15px;
}

.view {
    margin-left: 10px;
    text-decoration: none;
}

.viewAll {
    text-decoration: none;
    color: blue;
}

.bookingDetailAndView img {
    width: 40px;
    height: 36px;
}

.tableDiv {
    box-shadow: 0px 1px 5px 0px #B2B2B2;
    margin-top: 30px;
}

table tbody tr:hover {
    background-color: #bbdefb !important;
    cursor: pointer;
}

.tableDiv table {
    padding-top: 32px;
    width: 100%;
    border-collapse: collapse;
}

.tableDiv table th {
    color: #717171;
    font-size: medium;
}

.tableDiv thead tr {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background: #dae5f4;
}

thead tr,
tbody tr {
    border-bottom-style: solid;
    border-bottom-color: #B2B2B2;
    border-bottom-width: 1px;
    height: 50px;
    font-size: 14px;
    color: #919191;
}

table tbody td,
table thead th {
    text-align: center;
}

tbody tr:last-child {
    border-bottom-style: none
}

.filterButton i {
    padding-right: 9px;
    font-size: 25px;
}

.paymentProgressBtn {
    border: none;
    width: 100px;
    height: 30px;
    color: #717171;
    border-radius: 8px;
    margin-top: 10px;
    background: transparent;
}

.paymentCancelBtn {
    border: none;
    width: 100px;
    height: 30px;
    color: white;
    background-color: #C13737;
    border-radius: 8px;
    margin-top: 10px;
}

.paymentCompleteBtn {
    border: none;
    width: 100px;
    height: 30px;
    color: white;
    background-color: green;
    border-radius: 8px;
    margin-top: 10px;
}

.service-provider-main-page {
    display: flex;
}

.service-provider-leftSide {
    width: 200px;
}

.filterFindButton {
    width: 50px;
    height: 50px;
}

.searchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
}

.noRecordFoundContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

huddil-dropdown-component {
    border: 1px solid #c1c1c1;
    height: 43px;
    margin-right: 13px;
}

.bookingIdSection {
    width: 90px;
    max-width: 50px;
    word-wrap: break-word;
}

.bookingTitleSection {
    word-wrap: break-word;
    max-width: 135px;
    width: 105px;
}

.bookingNameSection {
    word-wrap: break-word;
    width: 140px;
    max-width: 120px;
}

.bookingTimeSection {
    word-wrap: break-word;
    width: 118px;
    max-width: 120px;
}

.bookingDurationSection {
    word-wrap: break-word;
    width: 200px;
    max-width: 120px;
}

.bookingTotalPriceSection {
    word-wrap: break-word;
    width: 80px;
    max-width: 100px;
}

.bookingPaymentMethodSection {
    word-wrap: break-word;
    width: 105px;
    max-width: 100px;
}

.bookingStatusSection {
    word-wrap: break-word;
    width: 120px;
    max-width: 100px;
}