<div class="adminStatusContainers adminBoxShadow">
    <div class="contentContainer">
        <div class="headingContianer">
            <label class="heading">User Status</label>
        </div>
        <div class="sectionsContainer">
            <div class="sectionContainer">
                <div class="userStatusHeader-Active">
                    <span class="itemLeftSpan">
                            <i class="material-icons headerItemIcon">done</i>Active</span>
                    <span class="headerItemRightSpan">{{totalActiveUsers}}</span>
                </div>
                <div class="itemContainer">
                    <span class="itemLeftSpan">
                            <i class="material-icons itemIcon">person</i>Consumer</span>
                    <span class="itemRightSpan">{{activeConsumers}}</span>
                </div>
                <div class="itemContainer">
                    <span class="itemLeftSpan">
                            <i aria-hidden="true" class="fa fa-building itemIcon"></i>Service Provider</span>
                    <span class="itemRightSpan">{{activeServiceProviders}}</span>
                </div>
                <div class="itemContainer">
                    <span class="itemLeftSpan">
                        <i class="material-icons itemIcon">account_box</i>Advisor</span>
                    <span class="itemRightSpan">{{activeAdvisors}}</span>
                </div>
            </div>
            <div class="sectionContainer">
                <div class="userStatusHeader-Disabled">
                    <span class="itemLeftSpan">
                            <i class="material-icons headerItemIcon">clear</i>Disabled</span>
                    <span class="headerItemRightSpan">{{totalDisabledUsers}}</span>
                </div>
                <div class="itemContainer">
                    <span class="itemLeftSpan">
                            <i class="material-icons itemIcon">person</i>Consumer</span>
                    <span class="itemRightSpan">{{disabledConsumers}}</span>
                </div>
                <div class="itemContainer">
                    <span class="itemLeftSpan">
                            <i aria-hidden="true" class="fa fa-building itemIcon"></i>Service Provider</span>
                    <span class="itemRightSpan">{{disabledServiceProviders}}</span>
                </div>
                <div class="itemContainer">
                    <span class="itemLeftSpan">
                        <i class="material-icons itemIcon">account_box</i>Advisor</span>
                    <span class="itemRightSpan">{{disabledAdvisors}}</span>
                </div>
            </div>
            <div class="sectionContainer">
                <div class="userStatusHeader-NotActive">
                    <span class="itemLeftSpan">
                           <i class="material-icons headerItemIcon">report_problem</i>Activation Pending</span>
                    <span class="headerItemRightSpan">{{totalNotActiveUsers}}</span>
                </div>
                <div class="itemContainer">
                    <span class="itemLeftSpan">
                            <i class="material-icons itemIcon">person</i>Consumer</span>
                    <span class="itemRightSpan">{{notActiveConsumers}}</span>
                </div>
                <div class="itemContainer">
                    <span class="itemLeftSpan">
                            <i aria-hidden="true" class="fa fa-building itemIcon"></i>Service Provider</span>
                    <span class="itemRightSpan">{{notActiveServiceProviders}}</span>
                </div>
                <div class="itemContainer">
                    <span class="itemLeftSpan">
                            <i class="material-icons itemIcon">account_box</i>Advisor</span>
                    <span class="itemRightSpan">{{notActiveAdvisors}}</span>
                </div>
            </div>

        </div>
    </div>
</div>