<admin-header></admin-header>
<div class="adminBodyMainContainer">
    <admin-side-menu></admin-side-menu>
    <div class="rightColumnContainer">

        <div class="adminBreadCrumContainer">
            <ul class="adminBreadCrum">

                <!-- <li class="homeBreadCrum">Facilities</li>
                <span>&rarr;</span> -->
                <li>Facility Details</li>
            </ul>
        </div>

        <div class="adminDetailpageContainer" *ngIf="facilityDetails!=null">

            <div class="roomDetailContainer">

                <div class=" roomTitleContainer">
                    <div class="roomTitle">
                        <p *ngIf="facilityLocationNameData.name != facilityDetails.title" style="margin:0px;font-size:20px;" class="thumbnailTitle"><span>{{facilityLocationNameData.name}}</span> , <span style="font-size: 16px">{{facilityDetails.title}}</span></p>
                        <p *ngIf="facilityLocationNameData.name == facilityDetails.title" style="margin:0px;font-size:20px;" class="thumbnailTitle"><span>{{facilityLocationNameData.name}}</span></p>
                        <div class="mapIconAndPlace">
                            <i class="fa fa-map-marker" aria-hidden="true "></i>
                            <sub>{{facilityDetails.locality}},{{facilityDetails.city}}</sub>
                        </div>
                    </div>
                    <div class="rating">
                        <rating-component [ratingValue]="facilityDetails.averageRating"></rating-component>
                    </div>
                </div>

                <div class="thumbnail">

                    <!--<img src="data:image/png;base64,{{facilityDetails.thumbnail}}" />-->
                    <div id="banner-section" *ngIf="dataReady">
                        <image-slider [facilitiyPhotos]="facilityDetails.facilityPhotos"></image-slider>
                    </div>
                </div>

                <div class="descriptionTitleContainer">
                    <div class="overViewWhatsAroundPoliciesTabs">
                        <div class="descriptionTitle">
                            <p>
                                <strong (click)="showOverview()" [class.selectedTab]="forOverviewDesc">Overview</strong>
                            </p>
                        </div>
                        <div class="descriptionTitle">
                            <p>
                                <strong (click)="showReviews()" [class.selectedTab]="forReviewDesc">Reviews</strong>
                            </p>
                        </div>
                        <div class="descriptionTitle termsAndConditionsContainer" (click)="showTermsAndConditions()">
                            <p>
                                <strong [class.selectedTab]="isShowTermsAndConditions">Terms and Conditions</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="overviewDescription" *ngIf="forOverviewDesc">
                    <p>
                        {{facilityDetails.description}}
                    </p>
                    <div class="addressDiv">
                        <div class="addressInnerDiv">
                            <!--<div class="address">
                            <p class="add">
                                <span>Address:</span>3,sbi atm,hotel, testing address
                            </p>
                            <p class="add"><span>LandMark :</span> near test school</p>

                        </div>-->
                            <div class="address">
                                <p>
                                    <strong>{{facilityDetails.title}}</strong> - ({{facilityDetails.facilityType}})
                                </p>
                                <p class="add">
                                    Address: {{facilityDetails.location.name}}, {{facilityDetails.location.address}}, {{facilityDetails.locality}}, {{facilityDetails.city}}
                                </p>
                                <p class="landMark">
                                    Landmark : {{facilityDetails.location.landmark}}</p>
                                <p class="nearBy">
                                    Near By : {{facilityDetails.location.nearBy}}</p>
                                <p><span>Contact Number :</span> {{facilityDetails.contactNo}}</p>
                                <p><span>Email id :</span> {{facilityDetails.emailId}}</p>
                                <p *ngIf="facilityDetails.alternateContactNo!=''"><span>Alternate Contact Number :</span> {{facilityDetails.alternateContactNo}}</p>
                                <p *ngIf="facilityDetails.alternateEmailId!=''"><span>Alternate Email id :</span> {{facilityDetails.alternateEmailId}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="mapDiv">
                        <map [mapInfo]="facilityDetails" [moduleName]="service-provider"></map>
                    </div>

                    <div class="cancelPolicy">
                        <p>Cancellation Policy</p>



                        <p class="policies" *ngIf="facilityDetails.facilityCancellationCharges.duration1!=0">{{facilityDetails.facilityCancellationCharges.percentage1}} % Cancellation Charge : Bookings cancelled before {{facilityDetails.facilityCancellationCharges.duration1}} Days of the start date</p>
                        <p class="policies" *ngIf="facilityDetails.facilityCancellationCharges.duration2!=0">{{facilityDetails.facilityCancellationCharges.percentage2}} % Cancellation Charge : Bookings cancelled before {{facilityDetails.facilityCancellationCharges.duration2}} Days of the start date</p>
                        <p class="policies" *ngIf="facilityDetails.facilityCancellationCharges.duration3!=0">{{facilityDetails.facilityCancellationCharges.percentage3}} % Cancellation Charge : Bookings cancelled before {{facilityDetails.facilityCancellationCharges.duration3}} Days of the start date</p>





                    </div>
                </div>

                <div class="reviewDescription" *ngIf="forReviewDesc">
                    <facility-reviews [facilityReviewsData]="listOfReviews"></facility-reviews>
                </div>
                <div class="description" *ngIf="isShowTermsAndConditions">
                    <p *ngIf="facilityDetails.location.facilityTermsConditionses != ''">{{termsAndConditionDescription}}</p>
                    <p *ngIf="facilityDetails.location.facilityTermsConditionses == ''">Terms and conditions not found.</p>
                </div>

            </div>

            <div class="priceAndFecilityContainer">

                <div class="approvedContainer">
                    <div class="approveImgContainer">
                        <!--<i class="material-icons">done_all</i> Approved -->
                    </div>

                    <div class="activeDeactiveButtonContainer">
                        <button *ngIf="!approvalPending" title={{buttonTitleText}} class="statusButton adminButton" (click)="blockUnblock()" [class.deactiveButton]="isTheStatusBlocked" id="button_blockUnblock">{{statusBtnText}}</button>
                        <span *ngIf="!approvalPending">{{buttonTitleText}}</span>
                        <span *ngIf="approvalPending">Approval Pending</span>
                    </div>

                </div>

                <div class="priceCataloguesContainer">
                    <div class="costPerHour">
                        Per Hour
                        <div class="amount" *ngIf="facilityDetails.facilityType!='Co-Working Space'"><i class="fa fa-inr" aria-hidden="true"></i> {{facilityDetails.costPerHour}}</div>
                        <div class="amount" *ngIf="facilityDetails.facilityType=='Co-Working Space'" style="font-size: 15px;font-weight: normal;">Not applicable</div>
                    </div>
                    <div class="costPerDay">
                        Per Day
                        <div class="amount"><i class="fa fa-inr" aria-hidden="true"></i> {{facilityDetails.costPerDay}}</div>
                    </div>
                    <div class="costPerMonth">
                        Per Month
                        <div class="amount"><i class="fa fa-inr" aria-hidden="true"></i> {{facilityDetails.costPerMonth}}</div>
                    </div>
                </div>

                <div class="amenitiesMainContainer">
                    <div class="amenitiesTitle">
                        <p>Amenities -{{facilityDetails.title}}</p>
                    </div>
                    <div class="aminities">
                        <div class="powerContainer">
                            <div class="powerbackupContainer" *ngFor="let amenities of facilityDetails.facilityAmenities">
                                {{amenities.amenity.name.icon}}
                                <img src="assets/icons/amenties/{{amenities.amenity.id}}.svg" />
                                <small>{{amenities.amenity.name}}</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="openingHourDateContainer">
                    <div class="openingDateTitle">
                        <p>Opening Hours/Date</p>
                    </div>

                    <div class="openingDateTimeTable">

                        <table>
                            <tbody>
                                <tr *ngFor="let facilitytiming of facilityDetails.facilityTimings">
                                    <td class="day">{{days[facilitytiming.weekDay]}}</td>
                                    <td *ngIf="facilitytiming.openingTime!='00:00:00'" class="fromTime">{{facilitytiming.openingTime | slice:0:5}}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;</td>
                                    <td *ngIf="facilitytiming.closingTime!='00:00:00'" class="toTime">{{facilitytiming.closingTime | slice:0:5}}</td>
                                    <td class="closed" *ngIf="facilitytiming.openingTime=='00:00:00' && facilitytiming.closingTime=='00:00:00'">Closed</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>


                <div class="offersTitle">
                    <p>
                        <span>Special Offers</span>
                    </p>
                </div>

                <div class="offersList">

                    <p *ngIf="facilityDetails.facilityOfferses.length==0">
                        No offers
                    </p>
                    <div class="offersContainer" *ngIf="facilityDetails.facilityOfferses.length!=0">
                        <i class="material-icons">local_offer</i>
                        <div class="offerData">
                            <h3>{{facilityDetails.title}}</h3>
                            <label>{{facilityDetails.facilityOfferses[0].startDate | date}} to {{facilityDetails.facilityOfferses[0].endDate | date}}</label>
                        </div>
                        <div class="offerPercentage"><strong>{{facilityDetails.facilityOfferses[0].price}}</strong><sub>%</sub></div>
                    </div>
                    <!--<div class="offerDescription" *ngFor="let offers of facilityDetails.facilityOfferses">
                            <div class="offerImg">
                                <img src="assets/icons/offerImage.png" />
                            </div>
                            <span class="offerIconText">
                                <i class="fa fa-tag" aria-hidden="true"></i>
                                <span class="offerText">{{offers.startDate}} to {{offers.endDate}}</span>
                            </span>
                        </div>

                        <div class="offerPercentageContainer">
                            {{facilityDetails.facilityOfferses[0].price}}
                            <sub>%</sub>
                        </div>-->

                </div>




            </div>
        </div>

        <admin-popup-component></admin-popup-component>

    </div>
</div>
<admin-footer></admin-footer>