.form-group {
    height: 60px;
}

.resetPasswordPage h3 {
    text-align: center;
}

.resetPasswordPage form {
    width: 34%;
    margin: 0 auto;
    box-shadow: 0px 2px 12px -6px;
    padding: 25px;
}

input {
    width: 100%;
    margin: 5px 0px;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #555;
    padding: 8px;
}

.hintError {
    color: red;
    font-size: 10px;
    font-weight: lighter!important;
    padding-left: 0;
    text-align: left;
}


/*header footer and breadcrums css starts*/

header {
    background: #004DB7;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-right a {
    color: #fff;
    font-size: 14px;
}

.header-left {
    width: 50%;
    float: left;
}

.header-right {
    float: right;
    text-align: right;
    width: 50%;
}


/*breadcrumbs*/

.breadcrumbsSection {
    background: #6A96FF;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}

.breadcrumbsSection a {
    color: #fff;
    cursor: pointer;
}

.breadcrumbsSection ul {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.breadcrumbsSection ul li {
    color: #fff;
    font-size: 12px;
}

.breadcrumbsSection ul span {
    color: #fff;
    padding: 0px 7px;
}

footer {
    background: #212121;
    padding: 10px;
}

.footerBoxesContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #949494;
    padding-bottom: 10px;
    margin-bottom: 20px;
    flex-flow: row wrap;
}

.footerBox h2 {
    color: #fff;
    font-size: 20px;
}

.footerBox ul {
    list-style: none;
    padding: 0px;
}

.footerBox li {
    color: #949494;
    margin: 10px 0px;
    cursor: pointer;
}

.newsletterForm input {
    background: #545454;
    border: none;
    padding: 10px;
    color: #fff;
}

.newsletterForm button {
    border: 1px solid #fff;
    background: no-repeat;
    color: #949494;
    padding: 8px 22px;
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
}

.footerBottomContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-flow: row wrap;
}

.footerBottomItems ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footerBottomItems li {
    color: #949494;
    cursor: pointer;
}

.importantLinks li {
    font-size: 12px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.footerBottomItems p {
    color: #949494;
    margin: 0px;
}

.socialIcons li {
    float: left;
    margin-left: 10px;
}

.socialIcons i {
    background: #949494;
    color: #212121;
    height: 35px;
    width: 35px;
    border-radius: 3px;
    text-align: center;
    font-size: 26px;
    line-height: 32px;
}

.footerBox form {
    display: flex;
    flex-direction: column;
}

.resetPasswordPage {
    min-height: 140vh;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

.submitButton {
    width: 130px;
    height: 45px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #2879FF;
    font-weight: bold;
    cursor: pointer;
}