/* admin page common css */

.adminBodyMainContainer {
    width: 100%;
    height: 1000px;
    display: flex;
}

.leftColumnContainer {
    width: 200px;
    height: 100%;
}

.rightColumnContainer {
    width: calc(100% - 200px);
    height: 100%;
}


/* end common css */