<service-provider-header></service-provider-header>
<div class="service-provider-main-page">
    <!--sidebar-->
    <div class="service-provider-leftSide">
        <sidebar></sidebar>
    </div>
    <!--right side seciton-->
    <div class="service-provider-rightSide">
        <!--breadcrumbs-->
        <div class="breadcrumbsSection">


            <ul>
                <li [routerLink]="['/service-provider/dashboard']">Dashboard</li>
                <span>&rarr;</span>
                <li [routerLink]="['/service-provider/payment-history']">Booking Details Dashboard</li>

            </ul>
            <i (click)="myFunction()" class="material-icons userMenuIcon">menu</i>
        </div>
        <div class="userMenuContainer" *ngIf="isShowSideMenuPopup">
            <div class="userMenuFieldsContainer">

                <div class="sidebarItems" routerLink='/service-provider/dashboard' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <p>Dashboard</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/facility-listing' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">location_city</i>
                    </div>
                    <p>Facility</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/payment-history' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">payment</i>
                    </div>
                    <p>Payment</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/booking-history' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">date_range</i>
                    </div>
                    <p>Booking</p>
                    <div class="sidebarIcon">

                    </div>
                </div>


            </div>
        </div>
        <div class="service-provider-page booking-history-container">
            <div class="filterContainer">
                <div class="filterDivision">
                    <p>Bookings</p>
                    <div class="filterSectionRight">
                        <form class="searchBox" [formGroup]="searchBookingIdForm">
                            <i class="fa fa-search"></i>
                            <input (keypress)="onlyNumberKey($event)" type="text" formControlName="searchBookingId" placeholder="Enter ID" id="input_bookingId">
                        </form>
                        <button type="button" class="filterFindButton  spModuleButtons" (click)="showExtraFilterBox()" [class.activeColor]="isShowFilterBox" id="button_filter">
                        <img class="iconDesign" src="assets/icons/filter_icon.svg"></button>

                        <button (click)="searchBookingsByFilters(1)" class="filterFindButton  spModuleButtons" type="submit" id="button_search">
                            <i class="material-icons iconDesign">search</i>
                       </button>

                    </div>
                </div>

            </div>
            <div class="extraFilterBox" [class.openFilterHeight]="isShowFilterBox">

                <form [formGroup]="form">
                    <huddil-dropdown-component id="select_facilityType" [huddilDropdownData]="this.meetupService.listOfFacilityType" formControlName="selectFacility" [huddilDropdownOptions]="huddilDropdownOptionsForFacilityType" [(ngModel)]="selectFacility"></huddil-dropdown-component>
                    <huddil-dropdown-component id="select_city" [huddilDropdownData]="this.meetupService.listOfCities" formControlName="selectCity" [huddilDropdownOptions]="huddilDropdownOptionsForCity" [(ngModel)]="selectCity"></huddil-dropdown-component>

                    <huddil-dropdown-component id="select_locality" [huddilDropdownData]="listOfLocalities" formControlName="selectLocality" [huddilDropdownOptions]="huddilDropdownOptionsForLocality" [(ngModel)]="selectLocality"></huddil-dropdown-component>
                    <huddil-dropdown-component [huddilDropdownData]="allMonths" formControlName="month" [huddilDropdownOptions]="huddilDropdownOptionsForMonths" [(ngModel)]="month"></huddil-dropdown-component>

                    <!-- <div>
                        <i class="fa fa-calendar iconContainer calendar" aria-hidden="true"></i>
                        <select class="selectContainer" formControlName="month" id="select_month" style="font-size:14px;">
                        <option [selected] = "true" [disabled] = "true" [value] ="0">Select Month</option>
                          <option value="0">All</option>
                        <option [value]="index+1" *ngFor="let month of this.meetupService.listOfMonths; let index=index;">{{month}}</option>
                          </select>
                    </div> -->
                    <huddil-dropdown-component id="select_bookingStatus" [huddilDropdownData]="statusOptions" formControlName="booking_status" [huddilDropdownOptions]="huddilDropdownOptionsForStatusOptions" [(ngModel)]="booking_status"></huddil-dropdown-component>
                    <!--
                    <div>
                        <i class="material-icons iconContainer">description</i>
                        <select class="selectContainer" formControlName="booking_status" id="select_bookingStatus">
                            
                        <option [selected] = "true" [disabled] = "true" [value] = "0">Select Booking Status</option>
                          <option value="0">All</option>
                        <option [value]="1">Pending</option>
                        <option [value]="2">Cancelled</option>
                        <option [value]="3">Confirmed</option>
                         <option [value]="4">Denied</option>
                          <option [value]="5">Completed</option>
                         
                        </select>
                    </div>-->
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="loadingContainer" *ngIf="isLoadingData">
                <img src="../../assets/loading.gif" />
            </div>
            <div class="loadingContainer" *ngIf="noRecordFound">
                <p>No records found</p>
            </div>
            <div class="loadingContainer" *ngIf="errorMsz!=''">
                <p>{{errorMsz}}</p>
            </div>
            <div id="spMainContainer" [hidden]="isLoadingData || noRecordFound || errorMsz!=''">

                <div class="tableDiv">
                    <table>
                        <thead>
                            <tr class="tableTitle">

                                <th>Booking Id</th>
                                <th>Facility Name </th>
                                <th>Building Name </th>
                                <!--<th>Consumer Name </th>-->
                                <th>Date of booking </th>
                                <th>Duration</th>
                                <th>Amount</th>
                                <th>Payment Mode </th>
                                <th>Booking Status </th>
                                <!--<th class="lastHeading">View</th>-->
                            </tr>
                        </thead>

                        <tbody *ngIf="ifCancelledBookings">
                            <tr *ngFor="let booking of listOfBookings" (click)="showBookingDetails(booking.bookingId,2)">
                                <td class="bookingIdSection">{{booking.bookingId}}</td>
                                <td class="bookingTitleSection">{{booking.title}}</td>
                                <td class="bookingNameSection">{{booking.name}}</td>
                                <!--<td>{{booking.displayName}}</td>-->
                                <td class="bookingTimeSection">{{booking.bookedTime | date:'dd/MM/yy HH:mm'}}</td>
                                <td class="bookingDurationSection">{{booking.bookedFrom | date:'dd/MM/yy HH:mm'}} - {{booking.bookedTo | date:'dd/MM/yy HH:mm'}}</td>
                                <td class="bookingTotalPriceSection">{{booking.totalPrice}}</td>
                                <td class="bookingPaymentMethodSection">{{booking.paymentMethod}}</td>
                                <td class="bookingStatusSection" *ngIf="!ifCancelledBookings">{{displayStatus(booking.status)}}</td>
                                <td *ngIf="ifCancelledBookings">Cancelled</td>

                                <!--<td><i class="fa fa-eye"></i></td>-->
                            </tr>


                        </tbody>
                        <tbody *ngIf="!ifCancelledBookings">
                            <tr *ngFor="let booking of listOfBookings" (click)="showBookingDetails(booking.bookingId,booking.status)">
                                <td class="bookingIdSection">{{booking.bookingId}}</td>
                                <td class="bookingTitleSection">{{booking.title}}</td>
                                <td class="bookingNameSection">{{booking.name}}</td>
                                <!--<td>{{booking.displayName}}</td>-->
                                <td class="bookingTimeSection">{{booking.bookedTime | date:'dd/MM/yy HH:mm'}}</td>
                                <td class="bookingDurationSection">{{booking.bookedFrom | date:'dd/MM/yy HH:mm'}} - {{booking.bookedTo | date:'dd/MM/yy HH:mm'}}</td>
                                <td class="bookingTotalPriceSection">{{booking.totalPrice}}</td>
                                <td class="bookingPaymentMethodSection">{{booking.paymentMethod}}</td>
                                <td class="bookingStatusSection" *ngIf="!ifCancelledBookings">{{displayStatus(booking.status)}}</td>
                                <td *ngIf="ifCancelledBookings">Cancelled</td>

                                <!--<td><i class="fa fa-eye"></i></td>-->
                            </tr>


                        </tbody>

                    </table>
                </div>
            </div>
            <pagination class="pagination-component" *ngIf="totalPaginationTabs>0" [totalPaginationTabs]="totalPaginationTabs" (displayPage_Output)="facilityByPagination($event)" [currentPage]="currentPage"></pagination>
        </div>
    </div>
</div>
<service-provider-footer></service-provider-footer>
<div *ngIf="this.meetupService.isShowPopup" class="confirmAlert ">
    <div class="mszbox zoomIn" [class.zoomOut]="!this.meetupService.isShowPopup">
        <div class="popup-header" [class.warning]="this.meetupService.isWarningPopup">
            <h3 *ngIf="this.meetupService.isWarningPopup"> Alert!</h3>
            <h3 *ngIf="!this.meetupService.isWarningPopup"> Success!</h3>
        </div>
        <div class="popup-body">
            {{this.meetupService.popupMessage}}
        </div>
        <div class="popup-footer">
            <button class="consumerModuleButtons" *ngIf="!isSessionExpired" (click)="closePopup(0)" id="button_ok_sessionNotExpired">OK</button>
            <button class="consumerModuleButtons" *ngIf="isSessionExpired" (click)="closePopup(1)" id="button_ok_sessionExpired">OK</button>
        </div>

    </div>
</div>