<consumer-header></consumer-header>
<div class="imageHeadingContainer">
    <img src="assets/about-banner.jpg" style="width:100%;" />
    <div class="contentContainer">
        <div class="headingContainer">
            <span class="titleHeading">connecting ideas</span>
            <span class="subTitleHeading">A variety of workplaces to choose from</span>
        </div>
    </div>
</div>
<div class="about">
    <div class="aboutContentLeft aboutContentText">About Huddil</div>

    <div class="aboutContentRight">
        <p class="aboutParagaraphContent">
            <span class="aboutContent">Facilitating Facilities</span> - Co-work Spaces, Shared spaces, Business Centers,Meeting Rooms,Conference Rooms, Training Rooms and Events.</p>
        <p class="aboutParagaraphContent">Do you have workspaces unoccupied? Are you a start-up business,a freelancer,a SME or a larger enterprise looking for an office space?</p>
        <p class="aboutParagaraphContent">Huddil is the prefect platform for global facilities and their customers to collaborate,discover the right place to list their unutilized workspace and find right customers for their facilities.</p>
        <p class="aboutParagaraphContent">
            For customers, it is the right place to find workspaces suiting their needs. From meeting rooms to office spaces, training rooms to conference rooms/events,Huddil caters to all.</p>
    </div>
</div>


<app-footer></app-footer>