<div class="testimonials">

    <div class="testimonialBlock">
        <!--<img src="../assets/testi-author.jpg" />-->
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Mauris pretium bibendum lobortis. Proin elit tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Proin elit
                tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. </p>
            <p class="testimonialAuthor">ABC - XYZ Private Limited</p>
        </div>
    </div>


    <div class="testimonialBlock">
        <!--<img src="../assets/testi-author.jpg" />-->
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Mauris pretium bibendum lobortis. Proin elit tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Proin elit
                tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum.</p>
            <p class="testimonialAuthor">ABC - XYZ Private Limited</p>
        </div>
    </div>
    <div class="testimonialBlock">
        <!--<img src="../assets/testi-author.jpg" />-->
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Mauris pretium bibendum lobortis. Proin elit tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Proin elit
                tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum.</p>
            <p class="testimonialAuthor">ABC - XYZ Private Limited</p>
        </div>
    </div>
</div>