<service-provider-header></service-provider-header>
<div class="service-provider-main-page">
    <!--sidebar-->
    <div class="service-provider-leftSide">
        <sidebar></sidebar>
    </div>

    <!--right side seciton-->
    <div class="service-provider-rightSide">
        <!--breadcrumbs-->
        <div class="breadcrumbsSection">


            <ul>
                <li [routerLink]="['/service-provider/dashboard']">Dashboard</li>
                <span>&rarr;</span>
                <li>Facility Listing</li>
            </ul>
            <i (click)="myFunction()" class="material-icons userMenuIcon">menu</i>
        </div>
        <div class="userMenuContainer" *ngIf="isShowSideMenuPopup">
            <div class="userMenuFieldsContainer">

                <div class="sidebarItems" routerLink='/service-provider/dashboard' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <p>Dashboard</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/facility-listing' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">location_city</i>
                    </div>
                    <p>Facility</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/payment-history' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">payment</i>
                    </div>
                    <p>Payment</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/booking-history' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">date_range</i>
                    </div>
                    <p>Booking</p>
                    <div class="sidebarIcon">

                    </div>
                </div>


            </div>
        </div>
        <div class="service-provider-page facility-listing-container">
            <div class="filterContainer">
                <div class="filterDivision">
                    <p>Facilities</p>
                    <div class="filterSectionRight">
                        <form class="searchBox" [formGroup]="searchTitleForm" (ngSubmit)="searchFacilitiesByFilters(1)">
                            <i class="fa fa-search"></i>
                            <input type="search" formControlName="searchTitle" id="input_search" placeholder="Facility Title">
                        </form>
                        <button class="filterFindButton  spModuleButtons" [class.activeColor]="isShowFilterBox" (click)="showExtraFilterBox()" id="button_filter">
                          <img class="iconDesign" src="../../assets/icons/filter_icon.svg"></button>
                        <button class="filterFindButton  spModuleButtons" (click)="searchFacilitiesByFilters(1)" type="submit" id="button_search">
                              <i class="material-icons iconDesign">search</i></button>

                        <button class="filterFindButton  spModuleButtons" [routerLink]="['/service-provider/add-facility']" id="button_add"><img style="width: 30px;height: 30px;" src = "assets/icons/add facility.svg"></button>


                    </div>
                </div>

            </div>
            <div class="extraFilterBox" [class.openFilterHeight]="isShowFilterBox">

                <form [formGroup]="form">
                    <huddil-dropdown-component id="select_facilityType" [huddilDropdownData]="this.meetupService.listOfFacilityType" formControlName="selectFacility" [huddilDropdownOptions]="huddilDropdownOptionsForFacilityType" [(ngModel)]="selectFacility"></huddil-dropdown-component>
                    <huddil-dropdown-component id="select_city" [huddilDropdownData]="this.meetupService.listOfCities" formControlName="selectCity" [huddilDropdownOptions]="huddilDropdownOptionsForCity" [(ngModel)]="selectCity"></huddil-dropdown-component>

                    <huddil-dropdown-component id="select_locality" [huddilDropdownData]="listOfLocalities" formControlName="selectLocality" [huddilDropdownOptions]="huddilDropdownOptionsForLocality" [(ngModel)]="selectLocality"></huddil-dropdown-component>
                    <huddil-dropdown-component id="select_status" [huddilDropdownData]="statusOptions" formControlName="status" [huddilDropdownOptions]="huddilDropdownOptionsForStatusOptions" [(ngModel)]="status"></huddil-dropdown-component>



                    <!--<div>
                        <i class="material-icons iconContainer">supervisor_account</i>
                        <select class="selectContainer" formControlName="selectFacility" id="select_facilityType">
                        <option [selected] = "true" [disabled] = "true" value = "">Facility Type</option>
                        <option value="0">All</option>
                        <option [value]="facilityName.id" *ngFor="let facilityName of this.meetupService.listOfFacilityType">{{facilityName.name}}</option>
                        </select>
                    </div>-->
                    <!--<div>
                        <i class="material-icons iconContainer">location_city</i>
                        <select class="selectContainer" formControlName="selectCity" (change)="getlocalityDataBasedOnSelectedCity()" id="select_city">
                        <option [selected] = "true" [disabled] = "true" value = "">Select City</option>
                          <option value="0">All</option>
                        <option *ngFor="let cityName of this.meetupService.listOfCities" value={{cityName.id}}>{{cityName.name}}</option>
                        </select>
                    </div>
                    <div>
                        <i class="fa fa-map-marker iconContainer" aria-hidden="true"></i>
                        <select class="selectContainer" formControlName="selectLocality" id="select_locality">
                        <option [selected] = "true" [disabled] = "true" value = "">Locality</option>
                        <option [value]="localitiesName.id" *ngFor="let localitiesName of listOfLocalities">{{localitiesName.name}}</option>
                        </select>
                    </div>-->
                    <!--<div>
                        <i class="material-icons iconContainer">description</i>
                        <select class="selectContainer" formControlName="status" id="select_status">
                        <option [selected] = "true" [disabled] = "true" value = "0">Status</option>
                          <option value="0">All</option>
                        <option value="1">Pending for approval</option>
                         <option value="2">Denied</option>
                          <option value="3">Approved</option>
                           <option value="4">Stopped or blocked</option>
                           
                            
                        </select>
                    </div>-->
                </form>
            </div>
            <div class="loadingContainer" *ngIf="isLoadingData">
                <img src="../../assets/loading.gif" />
            </div>
            <div class="loadingContainer" *ngIf="errorMessage!=''">
                <p>{{errorMessage}}</p>
            </div>
            <div class="loadingContainer" *ngIf="noRecordFound">
                <p>No record found.</p>
            </div>
            <div class="itemContainer" [hidden]="isLoadingData || noRecordFound">
                <facility-listing-info class="itemBlock" [facilityInfo]="facility" *ngFor="let facility of facilitiesList"></facility-listing-info>
            </div>
            <pagination *ngIf="totalPaginationTabs>0" [totalPaginationTabs]="totalPaginationTabs" (displayPage_Output)="facilityByPagination($event)" [currentPage]="currentPage"></pagination>
            <!--pagination start
            <div class="paginationContainer">
                <div class="preIcon"><i class="material-icons">chevron_left</i></div>
                <div (click)="facilityByPagination(page[0].number)" *ngFor="let page of totalRecords" class="pageCount" [class.active]="page[0].active">{{page[0].number}}</div>
                <div class="NextIcon"><i class="material-icons">chevron_right</i></div>
            </div>

            pagination end-->
        </div>

    </div>
</div>
<service-provider-footer></service-provider-footer>
<div *ngIf="this.meetupService.isShowPopup" class="confirmAlert ">
    <div class="mszbox zoomIn" [class.zoomOut]="!this.meetupService.isShowPopup">
        <div class="popup-header" [class.warning]="this.meetupService.isWarningPopup">
            <h3 *ngIf="this.meetupService.isWarningPopup"> Alert!</h3>
            <h3 *ngIf="!this.meetupService.isWarningPopup"> Success!</h3>
        </div>
        <div class="popup-body">
            {{this.meetupService.popupMessage}}
        </div>
        <div class="popup-footer">
            <button class="consumerModuleButtons" *ngIf="!isSessionExpired" (click)="closePopup(0)" id="button_ok_sessionNotExpired">OK</button>
            <button class="consumerModuleButtons" *ngIf="isSessionExpired" (click)="closePopup(1)" id="button_ok_sessionExpired">OK</button>
        </div>

    </div>
</div>