<consumer-header></consumer-header>
<div class="parentContainer">
    <div class="childContainerOne"><img style="width:70%;" src="assets/logo-notfound.png">
        <h1>404. That's an error..</h1>
        <p class="paragraph">The page you were looking for could not be found</p>
        <div style="display: flex;">
            <a (click)="goBack();"><button type="button" class="consumerModuleButtons goBack" id = "button_goBack"> <i style="padding-right:6px;" class="fa fa-angle-double-left" aria-hidden="true"></i>GO BACK</button></a>
            <a style="text-decoration: none;" routerLink=''><button type="button" class="consumerModuleButtons goBack" id = "button_goHome">GO HOME</button></a>
        </div>

    </div>
    <div class="childContainerTwo"><img style="width: 400px;margin-bottom: 20px;" src="assets/notFound-banner.png"></div>

</div>
<app-footer></app-footer>