<header>

    <div class="headerContainer">
        <div class="header-left">
            <img class="huddilLogo" src="assets/huddil-logo.svg" />
        </div>
        <div class="header-right">
            <ul>
                <!--<li><i class="fa fa-bell-o" (click)="showNotificationPopUp()"></i></li>
                <li><i class="fa fa-user-circle-o"></i></li>-->
                <li class="usernameBlock" *ngIf="currentUser!=null">{{currentUser.diaplayName}}</li>

                <li><i class="fa fa-user-circle-o" (click)="showLogOutPopUp()"></i></li>
            </ul>
        </div>
    </div>



    <div class="userMenuContainer" *ngIf="menuPopUp">
        <div class="userMenuFieldsContainer">

            <div routerLink="/advisor/change-password" class="userMenuSubFieldsContainer"><i class="fa fa-key" aria-hidden="true"></i>
                <p>Change Password</p>
            </div>
            <div (click)="logout()" class="userMenuSubFieldsContainer"><i class="fa fa-power-off" aria-hidden="true"></i>
                <p>Logout</p>
            </div>
        </div>
    </div>



</header>
<div *ngIf="this.meetupService.isShowPopup" class="confirmAlert ">
    <div class="mszbox zoomIn" [class.zoomOut]="!this.meetupService.isShowPopup">
        <div class="popup-header" [class.warning]="this.meetupService.isWarningPopup">
            <h3 *ngIf="this.meetupService.isWarningPopup"> Alert!</h3>
            <h3 *ngIf="!this.meetupService.isWarningPopup"> Success!</h3>
        </div>
        <div class="popup-body">
            {{this.meetupService.popupMessage}}
        </div>
        <div class="popup-footer">
            <button class="consumerModuleButtons" id="button_ok" (click)="closePopup()">OK</button>
        </div>
    </div>
</div>