<div class="facilityListingContainer" *ngIf="facilityDetailsInfo != null">
    <div class="facilityThumbnail" (click)="showFacilityDetail()">
        <img class="imgMeetingRoom" src="data:image/png;base64,{{facilityDetailsInfo.thumbnail}}">
        <div class="iconOnThumbnmail" *ngIf="showVerifiedIcon">

            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="iconOnThumbnmail">
            <span>{{facilityDetailsInfo.typeName}}</span>
            <!--<button class="booknowbtn">Book Now</button>-->
            <img *ngIf="facilityDetailsInfo.status=='8'" title="Huddil Certified" class="certifiedIcon" src="../../assets/certified.svg" />
        </div>
    </div>
    <div class="facilityTitleContainer">
        <span class="titleHeading" *ngIf="facilityDetailsInfo.locationName!=facilityDetailsInfo.title">{{facilityDetailsInfo.title}}</span>
    </div>

    <div class="facilityDetailsContainer">
        <div class="facilityLocationContainer">
            <div class="facilityLocationHeadingContainer">
                <h3> {{ (facilityDetailsInfo.locationName.length>20)? (facilityDetailsInfo.locationName | slice:0:20)+'..':(facilityDetailsInfo.locationName)}}</h3>
            </div>
            <div class="ratingContainer">
                <span><i style="padding-right: 5px;" class="fa fa-map-marker"></i>{{facilityDetailsInfo.locality}}, {{facilityDetailsInfo.city}}</span>
                <rating [ratingValue]="facilityDetailsInfo.averageRating"></rating>

            </div>
        </div>
        <div class="facilityPriceContainer">
            <p>
                <select (change)="changeFacilityPrice($event)" id="select_price">
                <option [value]="facilityDetailsInfo.costPerHour" *ngIf="facilityDetailsInfo.costPerHour>0 && facilityDetailsInfo.typeName!='Co-Working Space'">Per Hour</option>
                <option [value]="facilityDetailsInfo.costPerDay" *ngIf="facilityDetailsInfo.costPerDay>0">Per Day</option>
                <option [value]="facilityDetailsInfo.costPerMonth" *ngIf="facilityDetailsInfo.costPerMonth>0">Per Month</option>
                </select>
            </p>
            <p><i class="fa fa-inr" aria-hidden="true"></i>{{priceText}}</p>

        </div>
        <div class="facilityCapacityDivision">
            <p (click)="showCalendar();" class="dateCalendar handCursor">
                <i class="fa fa-calendar" aria-hidden="true"></i> Scheduler
            </p>
            <p class="dateCalendar"><img src="../../assets/icons/seat.svg">{{facilityDetailsInfo.capacity}} seats</p>
            <p class="dateCalendar"><img src="../../assets/icons/area.svg">{{facilityDetailsInfo.size}} Sq ft</p>
        </div>
        <!--<div class="facilityCapacityDivision">
        <p>Capacity Size - {{facilityDetailsInfo.size}} Sqt</p>
        <p>Guest - {{facilityDetailsInfo.capacity}} seats</p>
    </div>-->
        <!--<div class="facilityIconsContainer">

            <img title="{{amenity.name}}" src="../../assets/icons/amenties/{{amenity.id}}.svg" *ngFor="let amenity of listOfAmenitiesWithdesc | slice:0:4; let item=item;" />

            <p *ngIf="listOfAmenities.length>5" class="textMore" (click)="showTooltip()"> + 1 more</p>
        </div>
        <div class="tooltip" [hidden]="!istoolTip">
            <div class="facilityIconsContainer">
                <img title="{{amenity.name}}" src="../../assets/icons/amenties/{{amenity.id}}.svg" *ngFor="let amenity of listOfAmenitiesWithdesc | slice:4:10; let item=item;" />

            </div>
        </div>-->
        <div class="facilityIconsContainer">
            <div class="amenityList">
                <div title="{{amenity.name}}" class="svgImg" [innerHtml]=amenity.icon *ngFor="let amenity of listOfAmenitiesWithdesc | slice:0:4; let item=item;"></div>
                <!--<img title="{{amenity.name}}" src="../../assets/icons/amenties/{{amenity.id}}.svg" *ngFor="let amenity of listOfAmenitiesWithdesc | slice:0:4; let item=item;" />-->
            </div>
            <div class="amenityListMorebutton">
                <p *ngIf="listOfAmenities.length>5" class="textMore" (click)="showTooltip()"> more</p>
            </div>
        </div>
        <div class="tooltip" [hidden]="!istoolTip">
            <div class="facilityIconsContainer">
                <div class="svgImg" [innerHtml]=amenity.icon *ngFor="let amenity of listOfAmenitiesWithdesc | slice:4:20; let item=item;"></div>

                <!--<img title="{{amenity.name}}" src="../../assets/icons/amenties/{{amenity.id}}.svg" *ngFor="let amenity of listOfAmenitiesWithdesc | slice:5:10; let item=item;" />-->

            </div>
        </div>

    </div>
</div>