<footer id="footer">

    <div class="footerBoxesContainer">
        <div class="footerBox">
            <p class="footerMainHeading">Huddil App</p>
            <ul>

                <li><a routerLink="/about-us">About</a></li>
                <li (click)="showHowItWorksPopUp()">How it works</li>
                <li><a target="_blank" routerLink="/service-provider-signup">List for space / partners</a>
                </li>


            </ul>
            <div class="footerBottomItems socialIcons">
                <ul>
                    <li><a target="_blank" href="https://www.linkedin.com/company/13607747/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Huddil-310905326092965/"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/Huddil_myApps"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://plus.google.com/118304525751618801528"><i class="fa fa-google-plus"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="footerBox facilityTypesContainer" *ngIf="isListingPage">
            <p class="footerMainHeading">Workspace</p>
            <ul>
                <li (click)="goToListingpage(1)">Meeting Room</li>
                <li (click)="goToListingpage(2)">Training Room</li>
                <li (click)="goToListingpage(4)">Conference Offices</li>
                <li (click)="goToListingpage(3)">Co-Working Offices</li>
            </ul>
        </div>
        <div class="footerBox cityContainer" *ngIf="isListingPage">
            <p class="footerMainHeading">Top Cities</p>
            <ul>
                <li (click)="goToListingWithCity(1)">Banglore</li>
                <li (click)="goToListingWithCity(2)">Delhi</li>
                <li (click)="goToListingWithCity(3)">Mumbai</li>
                <li (click)="goToListingWithCity(4)">Pune</li>
                <li (click)="goToListingWithCity(5)">Hyderabad</li>
                <li (click)="goToListingWithCity(6)">Chennai</li>
            </ul>
        </div>
        <div class="footerBox facilityTypesContainer" *ngIf="!isListingPage">
            <p class="footerMainHeading">Workspace</p>
            <ul>
                <li (click)="goToListingpage_route(1)">Meeting Room</li>
                <li (click)="goToListingpage_route(2)">Training Room</li>
                <li (click)="goToListingpage_route(4)">Conference Offices</li>
                <li (click)="goToListingpage_route(3)">Co-Working Offices</li>
            </ul>
        </div>
        <div class="footerBox cityContainer" *ngIf="!isListingPage">
            <p class="footerMainHeading">Top Cities</p>
            <ul>
                <!--<li (click)="goToListingWithCity_route(1)">Banglore</li>
                <li (click)="goToListingWithCity_route(2)">Delhi</li>
                <li (click)="goToListingWithCity_route(1)">Mumbai</li>
                <li (click)="goToListingWithCity_route(1)">Pune</li>
                <li (click)="goToListingWithCity_route(1)">Hyderabad</li>
                <li (click)="goToListingWithCity_route(1)">Chennai</li>-->

                <li (click)="goToListingWithCity_route(1)">Banglore</li>
                <li (click)="goToListingWithCity_route(2)">Delhi</li>
                <li (click)="goToListingWithCity_route(3)">Mumbai</li>
                <li (click)="goToListingWithCity_route(4)">Pune</li>
                <li (click)="goToListingWithCity_route(5)">Hyderabad</li>
                <li (click)="goToListingWithCity_route(6)">Chennai</li>
                <!-- <li (click)="goToListingWithCity_route(city.id);" *ngFor="let city of this.meetupService.listOfCities">{{city.name}}</li> -->

            </ul>
        </div>
        <div class="footerBox contactInfoContainer">
            <p class="footerMainHeading contactInfoFooterHeading">Contact Information</p>
            <div class="addressContainer">
                <div class="addressDetails">
                    <span class="addressIcon">
                       <i class="fa fa-map addressIcons" aria-hidden="true"></i>
                   </span>
                    <div class="address">
                        <span>myApps Solutions Inc, India</span>
                        <span>4F, DSR Galleria Building, </span>
                        <span>Bilekahalli Gate, Bannerghatta Road,</span>
                        <span>Bangalore – 560 076</span>
                    </div>
                </div>
                <div class="contactDetails">
                    <i class="fa fa-phone addressIcons" aria-hidden="true"></i>
                    <span class="mobileNo">+91-8048512381</span>
                </div>
                <div class="contactDetails">
                    <i class="fa fa-envelope-o addressIcons" aria-hidden="true"></i>
                    <span class="emailId">contact_us@huddil.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footerBottomContainer">
        <div class="footerBottomItems importantLinks">
            <ul>
                <li><a target="_blank" routerLink="/usage-policy">Usage Policy</a></li>
                <li><a target="_blank" routerLink="/privacy">Privacy Policy</a></li>
                <li><a target="_blank" routerLink="/disclaimer">Disclaimer</a></li>
            </ul>
        </div>
        <div class="footerBottomItems">
            <p>&copy; Huddil.com. All Rights Reserved.</p>
        </div>
        <!-- <div class="footerBottomItems socialIcons">
            <ul>
                <li><a target="_blank" href="https://www.linkedin.com/company/13607747/"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="https://www.facebook.com/Huddil-310905326092965/"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/Huddil_myApps"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://plus.google.com/118304525751618801528"><i class="fa fa-google-plus"></i></a></li>

            </ul>
        </div> -->
    </div>
    <div class="paragraphContent">
        <p>Site best viewed at 1280 x 768 resolution in Google Chrome 3 or above, Mozilla 3.5 or above,I.E 11 or above</p>
    </div>
</footer>