<consumer-header></consumer-header>

<div class="partnerSignUpContainer">
    <div class="login-form">

        <div class="bussinessHeadingcontainer">
            <p class="parentHeading">Business Partner with us,for FREE!</p>
            <p class="childHeading">Drive bookings to your meeting space, boost occupancy rate and your revenue</p>
        </div>
        <div class="boxContainer">
            <div class="boxSubContainer">
                <div class="boxIconContainer">
                    <img src="../../assets/icons/partner-signUp-icons/business.svg">
                </div>
                <div class="boxDetailsContainer">
                    <p class="subHeading">Why we're in business</p>
                    <p class="subHeadingText">We believe relationships are key to business success.Our Mission is to help people succeed in the new economy</p>
                </div>
            </div>
            <div class="boxSubContainer">
                <div class="boxIconContainer">
                    <img src="../../assets/icons/partner-signUp-icons/customer.svg">
                </div>
                <div class="boxDetailsContainer">
                    <p class="subHeading">How we benifit our customers</p>
                    <p class="subHeadingText">We help our customers strengthen business relationships through face to face communications
                    </p>
                </div>
            </div>
            <div class="boxSubContainer">
                <div class="boxIconContainer">
                    <img src="../../assets/icons/partner-signUp-icons/what we do.svg">
                </div>
                <div class="boxDetailsContainer">
                    <p class="subHeading">What we do</p>
                    <p class="subHeadingText">We provide professsional meeting rooms on-demand, which can be booked through our global facility booking platform in hour,day or longer basis</p>
                </div>
            </div>

        </div>
        <div class="serviceProviderHeadingContainer">
            <p class="heading">Partner with us,TODAY!</p>
            <p class="subtitle">List your space in few steps.</p>
        </div>
        <div class="spFormContainer">
            <div class="googleAskDetailBox" *ngIf="isGoogleSignupMobileNumberpopup">

                <h4>Hi {{googleuserdata['name']}}</h4>
                <p>Welcome to Huddil! You are just a few steps away from joining the huddil</p>

                <!--dfsdsasad-->

                <form (ngSubmit)="googleSignUp()" [formGroup]="googleMobileForm">

                    <div class="form-group">
                        <p class="inputFieldHeadng">Mobile</p>
                        <input maxlength="10" (keypress)="onlyNumberKey($event)" type="text" id="google_mobile" formControlName="serviceProvidermobile" placeholder="Enter Mobile*">

                        <div class="hintError">{{mobileNumberStatus}}</div>
                    </div>

                    <div class="form-group">
                        <p class="inputFieldHeadng">Website</p>
                        <input type="text" id="google_website" formControlName="website" placeholder="Enter Website*">
                        <div class="hintError" *ngIf="googleMobileForm.controls.website.touched && googleMobileForm.controls.website.errors">
                            <div class="hintError" *ngIf="googleMobileForm.controls.website.errors.required"><strong>Enter Website</strong> </div>
                            <div class="hintError" *ngIf="serviceProviderForm.controls.website.errors.pattern">Enter valid website url</div>
                        </div>
                    </div>




                    <div class="form-group">
                        <p class="inputFieldHeadng">Address</p>
                        <input type="text" id="google_address" formControlName="address" placeholder="Enter Address*">

                        <div class="hintError" *ngIf="googleMobileForm.controls.address.touched && googleMobileForm.controls.address.errors">
                            <div class="hintError" *ngIf="googleMobileForm.controls.address.errors.required"><strong>Enter Address</strong> </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <p class="inputFieldHeadng">Pincode</p>
                        <input type="text" maxlength="6" (keypress)="onlyNumberKey($event)" id="google_pincode" formControlName="pincode" placeholder="Enter Pincode*">
                        <div class="hintError" *ngIf="googleMobileForm.controls.pincode.touched && googleMobileForm.controls.pincode.errors">
                            <div class="hintError" *ngIf="googleMobileForm.controls.pincode.errors.required"><strong>Enter Pincode</strong> </div>
                            <div class="hintError" *ngIf="googleMobileForm.controls.pincode.errors.minlength && googleMobileForm.controls.pincode.errors.pattern">Pincode must be 6 characters long</div>

                        </div>
                    </div>
                    <div class="form-group">
                        <p class="inputFieldHeadng">City</p>
                        <input type="text" id="google_city" formControlName="city" placeholder="Enter City*">
                        <div class="hintError" *ngIf="googleMobileForm.controls.city.touched && googleMobileForm.controls.city.errors">
                            <div class="hintError" *ngIf="googleMobileForm.controls.city.errors.required"><strong>Enter City Name</strong> </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="inputFieldHeadng">State</p>
                        <select id="google_state" formControlName="state">
                           <option selected = "true" disabled = "true" value = "">Select State</option>
                            <option *ngFor ="let statedata of statesData">{{statedata.name}}</option>
                         </select>
                        <div class="hintError" *ngIf="googleMobileForm.controls.state.touched && googleMobileForm.controls.state.errors">
                            <div class="hintError" *ngIf="googleMobileForm.controls.state.errors.required"><strong>Enter State</strong> </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <p class="inputFieldHeadng">Country</p>
                        <input type="text" id="google_country" formControlName="country" placeholder="Enter Country*">
                        <div class="hintError" *ngIf="googleMobileForm.controls.country.touched && googleMobileForm.controls.country.errors">
                            <div class="hintError" *ngIf="googleMobileForm.controls.country.errors.required"><strong>Enter Country Name</strong> </div>
                        </div>
                    </div>

                </form>

                <!--dfsdfdsasa-->
                <div class="googleAskDetailBtnContainer">
                    <p class="hintError" *ngIf="googleUserSubmitprocessStart">Processing...</p>
                    <p class="hintError" *ngIf="googleMobileErrorMsz!=''">{{googleMobileErrorMsz}}</p>
                    <button type="submit" [hidden]="googleUserSubmitprocessStart" (click)="googleSignUp()" class="submitButton buttons">SUBMIT</button>
                </div>

            </div>
            <div class="spSignUpForm" *ngIf="!isGoogleSignupMobileNumberpopup">

                <form [formGroup]="serviceProviderForm" (ngSubmit)="serviceProviderSignup()" *ngIf="isSPDetailsSubmit">
                    <div id="spSignupForm">
                        <div class="form-group">
                            <p class="inputFieldHeadng">Contact Person Name<sup>*</sup></p>
                            <input maxlength="45" type="text" id="name" formControlName="ownerName" placeholder="Contact Person Name">
                            <div *ngIf="serviceProviderForm.controls.ownerName.touched && serviceProviderForm.controls.ownerName.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.ownerName.errors.maxlength && !serviceProviderForm.controls.ownerName.errors.pattern">Name must be maximum 45 letters</div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.ownerName.errors.minlength && !serviceProviderForm.controls.ownerName.errors.pattern">Name must be 3 characters long</div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.ownerName.errors.pattern">Only alphabets and space are allowed</div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.ownerName.errors.invalidStatus">{{signupForm.controls.name.errors.invalidStatus}}</div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.ownerName.errors.required"><strong>Enter name</strong> </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">Password<sup>*</sup></p>
                            <input type="password" id="password" minlength="6" maxlength="15" formControlName="password" placeholder="Enter Password">

                            <div class="hintError" *ngIf="serviceProviderForm.controls.password.touched && serviceProviderForm.controls.password.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.password.errors.required"><strong>Enter password</strong> </div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.password.errors.minlength">Password must be 6 characters long</div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.password.errors.maxlength">Password must be maximum 15 letters</div>
                            </div>


                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">Confirm Password<sup>*</sup></p>
                            <input type="password" id="cpassword" formControlName="cpassword" placeholder="Enter Confirm Password">

                            <div *ngIf="serviceProviderForm.controls.cpassword.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.cpassword.errors.MatchPassword"><strong>Password entries do not match.</strong> </div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.cpassword.touched && serviceProviderForm.controls.cpassword.errors.required"><strong>Enter confirm password</strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">Mobile No.<sup>*</sup></p>
                            <input maxlength="10" (keypress)="onlyNumberKey($event)" type="text" id="google_mobile" formControlName="serviceProvidermobile" placeholder="Enter Mobile No.">

                            <div class="hintError">{{mobileNumberStatus}}</div>
                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">E-mail Id<sup>*</sup></p>
                            <input maxlength="254" type="text" id="email" formControlName="serviceProviderEmailId" placeholder="Enter Email">

                            <div class="hintError">{{emailStatus}}</div>
                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">Company Name<sup>*</sup></p>
                            <input type="text" id="companyName" formControlName="companyName" placeholder="Enter Company Name">
                            <div class="hintError" *ngIf="serviceProviderForm.controls.companyName.touched && serviceProviderForm.controls.companyName.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.companyName.errors.required"><strong>Enter Company Name</strong> </div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.companyName.errors.pattern">Enter valid Company Name</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">Website<sup>*</sup></p>
                            <input type="text" id="website" formControlName="website" placeholder="Enter Website">
                            <div class="hintError" *ngIf="serviceProviderForm.controls.website.touched && serviceProviderForm.controls.website.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.website.errors.required"><strong>Enter website</strong> </div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.website.errors.pattern">Enter valid website url</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <p class="inputFieldHeadng">Address<sup>*</sup></p>
                            <input maxlength="128" type="text" id="address" formControlName="address" placeholder="Enter Address">

                            <div class="hintError" *ngIf="serviceProviderForm.controls.address.touched && serviceProviderForm.controls.address.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.address.errors.required"><strong>Enter address</strong> </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">Pincode<sup>*</sup></p>
                            <input type="text" maxlength="6" (keypress)="onlyNumberKey($event)" id="pincode" formControlName="pincode" placeholder="Enter Pincode">
                            <div class="hintError" *ngIf="serviceProviderForm.controls.pincode.touched && serviceProviderForm.controls.pincode.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.pincode.errors.required"><strong>Enter pincode</strong> </div>
                                <div class="hintError" *ngIf="serviceProviderForm.controls.pincode.errors.minlength">Pincode must be 6 characters long</div>

                            </div>
                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">City<sup>*</sup></p>
                            <input type="text" id="city" formControlName="city" placeholder="Enter City">
                            <div class="hintError" *ngIf="serviceProviderForm.controls.city.touched && serviceProviderForm.controls.city.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.city.errors.required"><strong>Enter city name</strong> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">State<sup>*</sup></p>
                            <select id="state" formControlName="state">
                           <option selected = "true" disabled = "true" value = "">Select State</option>
                            <option *ngFor ="let statedata of statesData">{{statedata.name}}</option>
                         </select>
                            <div class="hintError" *ngIf="serviceProviderForm.controls.state.touched && serviceProviderForm.controls.state.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.state.errors.required"><strong>Enter state</strong> </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <p class="inputFieldHeadng">Country<sup>*</sup></p>
                            <input type="text" id="country" formControlName="country" placeholder="Enter Country" disabled>
                            <div class="hintError" *ngIf="serviceProviderForm.controls.country.touched && serviceProviderForm.controls.country.errors">
                                <div class="hintError" *ngIf="serviceProviderForm.controls.country.errors.required"><strong>Enter country name</strong> </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group rememberMeAndForgotPasswordContainer">
                        <div>
                            <input type="checkbox" formControlName="terms" value="yes" id="terms"><span class="termsText">
                            <span>I agree to the <a id="terms_signup_a" (click)="showTermsAndConditionsBox()" class="termsacceptlink">terms & conditions</a><sup>*</sup></span></span>
                        </div>

                    </div>

                </form>
                <div class="formFieldContainer loaderContainer" *ngIf="isDataLoading">
                    <img src="../assets/loading.gif">
                </div>
                <div class="formFieldContainer spInputFieldcontainer" *ngIf="isVerifyOTP">
                    <form class="verfiyOTPContainer" (ngSubmit)="signUpAfterGettingMobileOTP()" [formGroup]="simpleSignUpOtpProcessForm">
                        <input class="optInputField" maxlength="6" (keypress)="onlyNumberKey($event);" type="text" placeholder="Enter OTP" formControlName="otpValue" id="otp">
                        <button type="submit" id="button_varify">Verify</button>
                    </form>

                    <div class="processingContainer">
                        <p class="hintError" *ngIf="otpError">Enter OTP</p>
                        <p *ngIf="isOTPSendingProcessStart">Processing...</p>
                        <p *ngIf="dataAlreadyExistMsg!=''">{{dataAlreadyExistMsg}}</p>
                    </div>
                </div>
                <div class="formFieldContainer" *ngIf="ismobileVerified">
                    <div class="mszSuccessfully">
                        <p>Registration successfull.. Please check your e-mail for account activation.</p>
                    </div>

                </div>
                <div class="formFieldContainer" *ngIf="isTermsAndCondition">
                    <div class="termsAndConditionContainer">
                        <div class="descriptionContainer">
                            <p>{{this.meetupService.SPTermsText}}</p>
                        </div>
                        <div class="okButtonContainer"><button (click)="closeTermsAndConditionsPopUp()" id="button_ok">OK</button></div>
                    </div>
                </div>

                <div class="formFieldContainer errorMsgContainer" *ngIf="formError">
                    <p class="hintError">Fill all fields.</p>
                </div>
                <div class="formFieldContainer errorMsgContainer" *ngIf="passwordFormError">
                    <p class="hintError">Enter correct data</p>
                </div>
                <div class="formFieldContainer errorMsgContainer" *ngIf="isAlreadyExist">
                    <p class="hintError">{{dataAlreadyExistMsg}}</p>
                </div>
                <div class="submitButtonContainer">
                    <p *ngIf="consumerSignupProcessStart">Processing...</p>
                    <button type="submit" *ngIf="isSubmitDetails" (click)="serviceProviderSignup()" class="submitButton buttons" id="button_submit">SUBMIT</button>
                </div>
                <!--<div class="socialContainer">
                    <div class="seperatorLineContainer">
                        <div class="seperatorLines">
                            <p></p>
                        </div>
                        <div class="seperatorText">
                            <p>or Sign Up with</p>
                        </div>
                        <div class="seperatorLines">
                            <p></p>
                        </div>
                    </div>
                    <div class="loginWithSocialContainer">
                        <div class="facebookSignUpBtn" (click)="signupWithFacebook()">
                            <i class="fa fa-facebook"></i> Facebook
                        </div>
                        <div class="googleSignUpBtn" (click)="signupWithGoogle()">
                            <i class="fa fa-google-plus"></i>Google
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="spInputFieldcontainer">
                <img src="assets/welcome.jpg">
            </div>
        </div>


    </div>
</div>
<app-footer></app-footer>