<!--<div class="paginationContainer">
    <div (click)="goPre();" class="preIcon">
        <i class="fa fa-angle-left leftIcon" aria-hidden="true" [class.disabled]="disabledLeft"></i>
        <!--<i class="material-icons" [class.disabled]="disabledLeft">chevron_left</i>
    </div>
    <i *ngIf="!disbaledLeftpager" class="fa fa-ellipsis-h pageCount" (click)="showPrepage();"></i>
    <div (click)="displayPages(page[0].number)" *ngFor="let page of totalRecords" class="pageCount" [class.active]="page[0].active">{{page[0].number}}</div>
    <i *ngIf="!disbaledRightpager" class="fa fa-ellipsis-h pageCount" (click)="showNextpage();"></i>
    <div (click)="goNext();" class="NextIcon">
        <i class="fa fa-angle-right rightIcon" aria-hidden="true" [class.disabled]="disabledRight"></i>
        <!--<i class="material-icons" >chevron_right</i>
    </div>
</div>-->
<ul class="pagination" id="pagination"></ul>