<footer>
    <div class="footerBoxesContainer">
        <div class="footerBox">
            <h2>Huddil App</h2>
            <ul>
                <li>Search</li>
                <li>About</li>
                <li>How it works</li>
                <li>List for space/partners</li>
                <li>Help</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="footerBox">
            <h2>Workspace</h2>
            <ul>
                <li>Meeting Room</li>
                <li>Training Room</li>
                <li>Private Offices</li>
                <li>Co-Working Offices</li>
            </ul>
        </div>
        <div class="footerBox">
            <h2>Top Cities</h2>
            <ul>
                <li>Bengaluru</li>
                <li>Chennai</li>
                <li>Hyderabad</li>
                <li>Mumbai</li>
            </ul>
        </div>
        <div class="footerBox">
            <h2>Newsletter Sign Up</h2>
            <form class="newsletterForm">
                <input type="email" name="email" placeholder="E-Mail">
                <button type="button">Submit</button>
            </form>
        </div>
    </div>
    <div class="footerBottomContainer">
        <div class="footerBottomItems importantLinks">
            <ul>
                <li>Usage Policy</li>
                <li>Privacy Policy</li>
                <li>Partners</li>
            </ul>
        </div>
        <div class="footerBottomItems">
            <p>&copy; Huddil.com. All Rights Reserved.</p>
        </div>
        <div class="footerBottomItems socialIcons">
            <ul>
                <li><i class="fa fa-linkedin"></i></li>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-google-plus"></i></li>

            </ul>
        </div>
    </div>

</footer>