<div class="service-provider-sidebar">
    <div class="sp-sideBar">
        <div class="sidebarItems" routerLink='/service-provider/dashboard' routerLinkActive="active-link">
            <div class="sidebarIcon">
                <i class="fa fa-home" aria-hidden="true"></i>
            </div>
            <p>Dashboard</p>
            <div class="sidebarIcon">

            </div>
        </div>
        <div class="sidebarItems" routerLink='/service-provider/facility-listing' routerLinkActive="active-link">
            <div class="sidebarIcon">
                <i class="material-icons">location_city</i>
            </div>
            <p>Facility</p>
            <div class="sidebarIcon">

            </div>
        </div>
        <div class="sidebarItems" routerLink='/service-provider/payment-history' routerLinkActive="active-link">
            <div class="sidebarIcon">
                <i class="material-icons">payment</i>
            </div>
            <p>Payment</p>
            <div class="sidebarIcon">

            </div>
        </div>
        <div class="sidebarItems" routerLink='/service-provider/booking-history' routerLinkActive="active-link">
            <div class="sidebarIcon">
                <i class="material-icons">date_range</i>
            </div>
            <p>Booking</p>
            <div class="sidebarIcon">

            </div>
        </div>

    </div>
</div>