<div class="service-provider-sidebar">
    <div class="sp-sideBar">
        <div class="sidebarItems" routerLink='/advisor/dashboard' routerLinkActive="activeSection">
            <div class="sidebarIcon">
                <i class="fa fa-home" aria-hidden="true"></i>
            </div>
            <p>Dashboard</p>
            <div class="sidebarIcon">

            </div>
        </div>
        <div class="sidebarItems" routerLink="/advisor/facility-listing" routerLinkActive="activeSection">
            <div class="sidebarIcon">
                <i class="material-icons">location_city</i>
            </div>
            <p>Facility</p>
            <div class="sidebarIcon">

            </div>
        </div>

        <div class="sidebarItems" routerLink="/advisor/booking-history" routerLinkActive="activeSection">
            <div class="sidebarIcon">
                <i class="material-icons">date_range</i>
            </div>
            <p>Booking</p>
            <div class="sidebarIcon">

            </div>
        </div>
        <div class="sidebarItems" routerLink="/advisor/service-providers-list" routerLinkActive="activeSection">
            <div class="sidebarIcon">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
            <p>Partners</p>
            <div class="sidebarIcon">

            </div>
        </div>

    </div>
</div>