<consumer-header></consumer-header>
<div class="breadcrumbsSection">
    <ul>
        <li [routerLink]="['']" class="clickableItem">Home</li>
        <span>&rarr;</span>
        <li>Search Page</li>
    </ul>
</div>
<div class="facilityListingContainer">
    <form [formGroup]="filterForm" (ngSubmit)="getFacilities(1)">
        <div class="filterContainer">
            <huddil-dropdown-component id="select_city" [huddilDropdownData]="this.meetupService.listOfCities" formControlName="city" [huddilDropdownOptions]="huddilDropdownOptionsForCity" [(ngModel)]="city"></huddil-dropdown-component>

            <huddil-dropdown-component id="select_locality" [huddilDropdownData]="listOfLocalities" formControlName="locality" [huddilDropdownOptions]="huddilDropdownOptionsForLocality" [(ngModel)]="locality"></huddil-dropdown-component>

            <huddil-dropdown-component id="select_facilityType" [huddilDropdownData]="this.meetupService.listOfFacilityType" formControlName="facilityType" [huddilDropdownOptions]="huddilDropdownOptionsForFacilityType" [(ngModel)]="facilityType"></huddil-dropdown-component>

            <!--<div class="filterFieldsContainer">
                <select class="filterFields" formControlName="city" id="select_city" (change)="getLocalities();">
                  <option value="0">All</option>
                <option [selected]="cityIdFromSearch == cityData.id" value="{{cityData.id}}" *ngFor = "let cityData of this.meetupService.listOfCities">{{cityData.name}}</option>
            </select>
            </div>
            
            <div class="filterFieldsContainer">
                <select class="filterFields" formControlName="locality" id="select_locality">
                    <option value="0">All</option>
              <option [selected]="localityIdFromSearch == localitiesName.id" [value]="localitiesName.id" *ngFor="let localitiesName of listOfLocalities">{{localitiesName.name}}</option>
            </select>
            </div>
            <div class="filterFieldsContainer">
                <select class="filterFields" formControlName="facilityType" id="select_facilityType">
                    <option value="0">All</option>
                <option [selected]="facilityTypeFromSearch == facilityTypeData.id" value="{{facilityTypeData.id}}" *ngFor = "let facilityTypeData of this.meetupService.listOfFacilityType">{{facilityTypeData.name}}</option>
            </select>
            </div>-->
            <!--<div class="buttonContainer" >-->
            <button type="button" (click)="toggleFilterContainer()" class="filterFindButton consumerModuleButtons" [class.btnActiveColor]="isShowFilterBox" id="button_filter"> <img class="searchAndFilterIcon" src="../../assets/icons/filter_icon.svg"></button>
            <!--<i class="fa fa-filter iconDesign" aria-hidden="true"></i>-->

            <!--</div>-->
            <!--<div class="buttonContainer" >-->
            <button type="submit" class="filterFindButton consumerModuleButtons" id="button_search"><i class="material-icons searchAndFilterIcon">search</i></button>

            <!--<i class="fa fa-search " aria-hidden="true"></i>-->
            <!--</div>-->


        </div>
    </form>
    <div class="extraFilterBox" [class.openFilterHeight]="isShowFilterBox">
        <form [formGroup]="subFilterForm" class="subfilterform">
            <div class={{filterBoxClassName}}>
                <div class="filterBoxSubContainer">
                    <div class="filterFieldsContainer">
                        <input id="startingPrice" formControlName="startingPrice" (keypress)="onlyNumberKey($event)" type="text" placeholder="Min. price per day " class="filterBoxInputFiled">
                        <i class="fa fa-money iconDesign iconsStyle" aria-hidden="true"></i>
                    </div>
                    <div class="filterFieldsContainer">
                        <input type="text" id="datetimepicker" placeholder="Start Date / Time In" class="filterBoxInputFiled">
                        <i class="fa fa-calendar iconDesign iconsStyle" id="showCalendar" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="filterBoxSubContainer" style="width:0px;">
                    <div class="filterFieldsContainer totext"> to</div>
                    <div class="filterFieldsContainer totext"> to</div>
                </div>
                <div class="filterBoxSubContainer">
                    <div class="filterFieldsContainer">
                        <input id="endingPrice" formControlName="endingPrice" (keypress)="onlyNumberKey($event)" type="text" placeholder="Max. price per day" class="filterBoxInputFiled">
                        <i class="fa fa-money iconDesign iconsStyle" aria-hidden="true"></i>
                    </div>
                    <div class="filterFieldsContainer">
                        <input type="text" id="datetimepicker2" placeholder="End Date / Time Out" class="filterBoxInputFiled">
                        <i class="fa fa-calendar iconDesign iconsStyle" id="showEndDateCalendar" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="filterBoxSubContainer">
                    <div class="filterFieldsContainer">
                        <input id="seats" (keypress)="onlyNumberKey($event)" type="text" formControlName="seats" placeholder="Seats" class="filterBoxInputFiled">
                        <img src="assets/icons/seat.svg" class=" iconDesign iconsStyle">
                    </div>
                    <div class="filterFieldsContainer">
                        <angular2-multiselect [data]="this.meetupService.listOfAmenities" formControlName="amenity" [(ngModel)]="selectedItems" [settings]="dropdownSettings">
                        </angular2-multiselect>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="sortByContainer">
        <!-- <span>{{getCityName(this.meetupService.citySearch)}} - {{getLocationName(this.meetupService.localitySearch)}} - {{getFacilityTypeName(this.meetupService.facilitytypeSearch)}}</span> -->

        <span *ngIf="getFacilityTypeName(this.meetupService.facilitytypeSearch) !=null && getCityName(this.meetupService.citySearch) != null && getLocationName(this.meetupService.localitySearch)!= null ">{{getFacilityTypeName(this.meetupService.facilitytypeSearch)}} in {{getLocationName(this.meetupService.localitySearch)}}, {{getCityName(this.meetupService.citySearch)}}</span>
        <span *ngIf="getFacilityTypeName(this.meetupService.facilitytypeSearch) ==null && getCityName(this.meetupService.citySearch) != null && getLocationName(this.meetupService.localitySearch)== null "> Facilities in {{getCityName(this.meetupService.citySearch)}}</span>
        <span *ngIf="getFacilityTypeName(this.meetupService.facilitytypeSearch) ==null && getCityName(this.meetupService.citySearch) != null && getLocationName(this.meetupService.localitySearch)!= null "> Facilities in {{getLocationName(this.meetupService.localitySearch)}}, {{getCityName(this.meetupService.citySearch)}}</span>
        <span *ngIf="getFacilityTypeName(this.meetupService.facilitytypeSearch) !=null && getCityName(this.meetupService.citySearch) == null && getLocationName(this.meetupService.localitySearch)== null "> {{getFacilityTypeName(this.meetupService.facilitytypeSearch)}} Facilities</span>
        <span *ngIf="getFacilityTypeName(this.meetupService.facilitytypeSearch) !=null && getCityName(this.meetupService.citySearch) != null && getLocationName(this.meetupService.localitySearch)== null "> {{getFacilityTypeName(this.meetupService.facilitytypeSearch)}} in {{getCityName(this.meetupService.citySearch)}}</span>



        <!-- <span *ngIf="searchTitleForFacilityType !=0 && searchTitleForCity !=0 && searchTitleForlocality==0 ">{{facilityTypeTextValue}} in {{cityTexTValue}}</span>
        <span *ngIf="searchTitleForCity !=0 && searchTitleForlocality==0 && searchTitleForFacilityType==0 ">Facilities in {{cityTexTValue}}</span>
        <span *ngIf="searchTitleForCity !=0 && searchTitleForlocality!=0 && searchTitleForFacilityType !=0 && searchTitleForCity !=undefined && searchTitleForlocality !=undefined && searchTitleForFacilityType !=undefined ">{{facilityTypeTextValue}} in {{localityTextValue}} , {{cityTexTValue}}</span>
        <span *ngIf="searchTitleForCity !=0 && searchTitleForlocality!=0 && searchTitleForFacilityType==0 ">Facilities in {{localityTextValue}} , {{cityTexTValue}}</span>

        <span *ngIf="searchTitleForFacilityType !=undefined && searchTitleForCity==undefined && searchTitleForlocality==undefined">{{this.meetupService.getFacilityTypeName(searchTitleForFacilityType)}}</span>
        <span *ngIf="searchTitleForFacilityType==undefined && searchTitleForCity ==undefined && searchTitleForlocality==undefined && searchTitleForFacilityType!=0 ">{{facilityTypeTextValue}} in {{this.meetupService.getCityName(searchTitleForCity)}}</span>
        <span *ngIf="searchTitleForFacilityType !=undefined && searchTitleForCity !=undefined && searchTitleForlocality==undefined ">{{this.meetupService.getFacilityTypeName(searchTitleForFacilityType)}} in {{this.meetupService.getCityName(searchTitleForCity)}}</span>
        <span *ngIf="searchTitleForCity !=0 && searchTitleForCity==undefined && searchTitleForlocality !=undefined && searchTitleForFacilityType==undefined ">Facilities in {{getLocalityName(searchTitleForlocality)}} , {{cityTexTValue}}</span>
        <span *ngIf="searchTitleForCity !=undefined && searchTitleForlocality !=undefined && searchTitleForFacilityType==undefined ">Facilities in {{getLocalityName(searchTitleForlocality)}} , {{this.meetupService.getCityName(searchTitleForCity)}}</span> -->


        <!-- <span *ngIf="searchTitleForCity==undefined && searchTitleForlocality !=undefined && searchTitleForFacilityType !=undefined && searchTitleForCity !=0 && searchTitleForlocality !=0 ">{{this.meetupService.getFacilityTypeName(searchTitleForFacilityType)}} in {{getLocalityName(searchTitleForlocality)}} , {{cityTexTValue}}</span> -->

        <select class="SortByfilterField " id="sortBy " (change)="getSortByData($event.target.value); ">
                <option value="0,0 ">Rating</option>
                <option value = "1,1 ">Ascending order By cost per Hour</option>
                <option value = "2,1 ">Ascending order By cost per Day</option>
                <option value = "3,1 ">Ascending order By cost per Month</option>
                <option value = "1,0 ">Descending order By cost per Hour</option>
                <option value = "2,0 ">Descending order By cost per Day</option>
                <option value = "3,0 ">Descending order By cost per Month</option>
        </select>
    </div>
    <!--<h2 class="searchResultsHeading">Search results for : {{this.meetupService.getFacilityTypeName(searchTitleForFacilityType)}} in {{this.meetupService.getCityName(searchTitleForCity)}}</h2>-->
    <div class="loadingContainer" *ngIf="isLoadingData">
        <img src="../../assets/loading.gif" />
    </div>

    <div class="loadingContainer" *ngIf="noRecordFound">
        <p>No record found.</p>
    </div>
    <div class="loadingContainer" *ngIf="errorMsz!=''">
        <p>{{errorMsz}}</p>
    </div>
    <div class="facilityItemContainer" *ngIf="!isLoadingData && !noRecordFound && errorMsz==''">
        <facility-listing-info [facilityDetailsInfo]="facility" *ngFor="let facility of listOfFacilities"></facility-listing-info>
    </div>

    <pagination *ngIf="totalPaginationTabs>0" [totalPaginationTabs]="totalPaginationTabs" (displayPage_Output)="facilityByPagination($event)" [currentPage]="currentPage"></pagination>
</div>
<div *ngIf="this.meetupService.isShowPopup" class="confirmAlert ">
    <div class="mszbox zoomIn" [class.zoomOut]="!this.meetupService.isShowPopup">
        <div class="popup-header" [class.warning]="this.meetupService.isWarningPopup">
            <h3 *ngIf="this.meetupService.isWarningPopup"> Alert!</h3>
            <h3 *ngIf="!this.meetupService.isWarningPopup"> Success!</h3>
        </div>
        <div class="popup-body">
            {{this.meetupService.popupMessage}}
        </div>
        <div class="popup-footer">
            <button class="consumerModuleButtons" (click)="closePopup(0)" id="button_ok_sessionNotExpired">OK</button>
            <button class="consumerModuleButtons" *ngIf="isSessionExpired" (click)="closePopup(1)" id="button_ok_sessionExpired">OK</button>
        </div>

    </div>
</div>
<app-footer [listingPage]="true" (refreshPageWithCity_Output)="changeCity($event)" (refreshPageWithFacilityType_Output)="changeFacilityType($event)"></app-footer>