.loginAlertBox {
    position: relative;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


/* how it works */

.howItsWorkHeading {
    color: #004DB7;
    text-align: center;
    font-size: 28px;
}

.paragaphContnet {
    font-size: 14px;
    text-align: justify;
}

.popupBackground {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.mszbox {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    height: auto;
    margin: 5% auto 0;
    padding: 11px 11px 26px;
    width: 50%;
    -webkit-box-shadow: 1px 1px 14px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 14px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 14px -2px rgba(0, 0, 0, 0.75);
}

.howitswork {
    padding-left: 20px;
    padding-top: 20px;
}

.howItsWorkContent {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 24px;
}

.Uncover {
    margin-left: 20px;
    color: #6a96ff;
    font-size: 14px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 8px;
    width: 394px;
}

.discoverTabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 20px;
    /* padding-top: 20px; */
    /* padding-left: 20px; */
    padding-bottom: 10px;
    /* border:1px solid red; */
}

.discoverSubtabs {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:1px solid red; */
}

.discoverTabs img {
    width: 100px;
}


/*.discover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    line-height: 96px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #004DB7;
    margin-bottom: 0px;
    margin-left: 99px;
}*/


/*.bookTab {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    line-height: 96px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #004DB7;
    margin-bottom: 0px;
    margin-left: 99px;
}*/


/*.checkTab {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    line-height: 96px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #004DB7;
    margin-bottom: 0px;
    margin-left: 99px;
}*/

.discoverContent {
    text-align: center;
    font-size: 14px;
    word-wrap: break-word;
}

.discoverContent p:first-child {
    font-size: 16px;
}

.discoverContent p:last-child {
    line-height: 24px;
}

.closeIcon {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.tcpsData {
    height: 400px;
    overflow-y: auto;
    padding: 20px;
    word-wrap: normal;
}

.tcpsButtonContainer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
    padding-right: 12px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #c1c1c1;
    padding-top: 12px;
}

.tcpsButtonContainer button {
    width: 100px;
    height: 30px;
}

.tcpsButtonContainer span {
    width: 10px;
}

#mainpopup {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:320px) and (max-width:480px) and (orientation:portrait) {
    .mszbox {
        width: 85%;
    }
    .privacyHeading {
        font-size: 16px;
    }
    .closeIcon {
        right: 260px;
    }
    .howItWorksPopUpCloseIcon {
        top: 25px;
        position: absolute;
        right: 5px;
    }
    .discoverSubtabs {
        width: 100%
    }
    .mszbox {
        height: 406px;
        overflow-y: scroll;
    }
    .discoverTabs {
        flex-flow: row wrap;
    }
    .Uncover {
        width: auto;
        margin-right: 20px;
    }
}

@media screen and (max-width:800px) and (orientation:landscape) {
    .tcpsData {
        height: 380px;
    }
    .privacyHeading {
        font-size: 21px;
    }
    .closeIcon {
        right: 200px;
    }
    .mszbox {
        width: 85%;
    }
    .privacyHeading {
        font-size: 16px;
    }
    .howItWorksPopUpCloseIcon {
        top: 25px;
        position: absolute;
        right: 5px;
    }
    .discoverSubtabs {
        width: 100%
    }
    .mszbox {
        height: 406px;
        overflow-y: scroll;
    }
    .discoverTabs {
        flex-flow: row wrap;
    }
    .Uncover {
        width: auto;
        margin-right: 20px;
    }
}