.spdetailpageContainer {
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.roomDetailDiv {
    width: 580px;
    height: auto;
}

.priceAndFecilityDiv {
    width: 420px;
    height: auto;
}

.roomTitle p {
    font-size: 22px;
    color: #424242;
    padding: 0px;
    margin: 0px;
}

.roomTitleDiv,
.editBtnDiv {
    margin-bottom: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.roomTitle {
    width: 50%;
    color: #4D4D4D;
}

.activeImg {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 18px;
}

.mapDiv {
    margin-top: 35px;
}

.mapiconAndPlace {
    display: flex;
    /*margin-top: -18px;*/
}

.mapiconAndPlace i {
    font-size: 18px;
    color: #6A97FF;
}

.mapiconAndPlace sub {
    margin-left: 5px;
    margin-left: 5px;
    font-size: 12px;
    color: #898989;
}

.activeImg img {
    width: 30px;
}

.activeImg sub {
    color: #ACACAC;
}

.thumbnail {
    position: relative;
}


/*.thumbnail img {
    width: 580px;
    height: 327px;
    object-fit: cover;
}*/

.descTitle {
    width: 100px;
    cursor: pointer;
    font-weight: bold;
}

.activeColor {
    color: #004DB7!important;
}

.descTitle p {
    font-size: 16px;
    color: #4a4a4a;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.descTitleDiv {
    color: #ACACAC;
    border-bottom: 1px solid;
    height: 45px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.review {
    margin-right: 15px;
    font-size: 14px;
    color: #4a4a4a;
}

.gold {
    color: gold;
}

.description p {
    font-size: 14px;
    color: #4a4a4a;
}

.termsAndConditionsContainer {
    width: 180px !important;
}

.review {
    height: 455px;
    max-height: 455px;
    overflow-y: scroll;
}

.addImg {
    width: 50%;
}

.address {
    width: 100%;
    color: #4A4A4A;
}

.address p {
    margin: 0px;
    font-size: 14px;
}

.hapyTohelp {
    margin-top: 5px;
    font-size: 15px;
}

.anyHelp {
    margin: 0px;
    color: #3C3C3C!important;
}

.addImg img {
    width: 230px;
    height: 129px;
    object-fit: cover;
}

.add {
    padding-top: 15px;
}

.addressInnerDiv {
    display: flex;
    color: #ACACAC;
    box-shadow: 1px 5px 10px 0px #ACACAC;
    margin-top: 40px;
    border: 1px solid #ACACAC;
    padding: 15px;
}

.cancelPolicy {
    margin-top: 35px;
}

.cancelPolicy p:first-child {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
    font-size: 16px;
    color: #4a4a4a;
}

.cancelPolicy p.policies {
    font-size: 14px;
    color: #4a4a4a;
}

.editBtn {
    min-width: 120px;
    width: auto;
    height: 40px;
    color: white;
    /*background-color: #6a97ff;*/
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.priceAndFecilityDiv .editBtnDiv {
    justify-content: flex-end;
}

.priceTableDiv {
    border: 1px solid #ACACAC;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.textFields {
    padding: 15px;
    margin-top: 10px;
}

.seatsSizeInformation {
    height: 35px;
    width: 181px;
    margin: 13px;
    padding: 10px 26px;
    background: #fff;
    font-size: 12px;
    color: #878787;
    border: 1px solid gray;
}

.price {
    width: 86%;
    border: 1px solid #ACACAC;
    height: auto;
    box-shadow: 2px 3px 8px 2px #ACACAC;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    background-color: white;
}

table tbody tr {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c1c1c1;
}

table tbody tr:last-child {
    border-bottom-style: none;
}

table tr:nth-child(2n) {
    background: none!important;
}

.price tr {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    color: #4a4a4a;
}

.openingHourDateDiv {
    margin-top: 25px;
    border: 1px solid #ACACAC;
    color: #ACACAC;
    font-size: 15px;
}

.amenitiesDiv {
    margin-top: 25px;
    border: 1px solid #ACACAC;
    color: #ACACAC;
    font-size: 15px;
}

.amenitiesTitle,
.openingDateTitle {
    height: 40px;
    background-color: #3C3C3C;
    color: white;
}

.amenitiesTitle p,
.openingDateTitle p {
    padding: 9px;
    margin: 0px;
    font-size: 16px;
    color: #FFFFFF;
}

.svg {
    font-size: 20px;
    color: #505050;
    margin-right: 10px;
}

.aminities img {
    width: 25px;
    height: 25px;
    border: 1px solid;
    margin-left: 18px;
    padding: 4px;
}

.powerbackupDiv,
.serverDiv,
.projectorDiv,
.wifiDiv {
    display: flex;
    align-items: center;
    width: 138px;
    margin-bottom: 12px;
}

.powerbackupDiv span,
.serverDiv span,
.projectorDiv span,
.wifiDiv span {
    margin-left: 10px;
    font-size: 14px;
    color: #4a4a4a;
}

.powerContainer,
.serverContainer,
.projectorContainer,
.wifiContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 12px;
    align-items: center;
    height: auto;
}

.openingDateTimeTable tr {
    display: flex;
    padding: 6px;
    padding-left: 19px;
    font-size: 14px;
    color: #4a4a4a;
}

.offersTitle p {
    color: #fff;
    font-size: 16px;
}

.noOffersTitle {
    font-size: 14px;
    color: #4a4a4a;
}

.close {
    color: red;
}

.day {
    width: 140px;
}

.fromTime {
    width: 56px;
}

.offersTitle,
.NearByRestaurantsTitle {
    /* color: #fff !important; */
    border-bottom: 1px solid #ACACAC;
    margin-top: 25px;
    height: 40px;
    background: #3C3C3C;
    display: flex;
    align-items: center;
    padding-left: 9px;
}

.offerOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-bottom: 1px solid #ACACAC;
    padding-bottom: 10px;
}

.restaurantOne {
    display: flex;
    margin-top: 15px;
    border-bottom: 1px solid #ACACAC;
    padding-bottom: 5px;
}

.restaurantTwo {
    display: flex;
    margin-top: 15px;
    padding-bottom: 5px;
}

.offerTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 10px;
}

.offerImg img,
.restaurantImg img {
    width: 80px;
    height: 70px;
    object-fit: cover;
}


/*.offerDesc {
    margin-left: -85px;
    margin-top: -22px;
}*/

.offerDesc p,
.restaurantDesc p {
    margin: 0px;
}

.offerBtn {
    width: 80px;
    height: 70px;
    background-color: #6A96FF;
    border: none;
    margin-right: 30px;
}

.offerBtn span {
    color: white;
    font-size: 36px;
}

.percentageOfferValue {
    font-size: 20px !important;
    color: white !important;
    line-height: 48px!important;
}

.restaurantDesc {
    margin-top: 5px;
    margin-left: 10px;
}

.nearbyLocDiv {
    width: 1280px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.nearbyLocTitleDiv {
    color: #5C5C5C;
    border-bottom: 1px solid #ACACAC;
}

.reusableCodeDiv {
    width: 1280px;
    display: flex;
}


/*default page css */

.service-provider-rightSide {
    float: left;
    width: calc(100% - 200px);
}


/*breadcrumbs*/

.breadcrumbsSection {
    background: #6A96FF;
    padding-left: 30px;
}

.breadcrumbsSection ul {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.breadcrumbsSection ul li {
    color: #fff;
    font-size: 12px;
}

.breadcrumbsSection ul span {
    color: #fff;
    padding: 0px 7px;
}


/*end sidbar */

.service-provider-page {
    padding: 25px;
}


/*end default css */

.service-provider-main-page {
    display: flex;
}

.service-provider-leftSide {
    width: 200px;
}

.iconOnThumbnmail {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 1px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    width: 563px;
    padding-left: 11px;
    padding-right: 6px;
    z-index: 99999;
}

.iconOnThumbnmail span {
    color: white;
    font-size: 12px;
}

.iconOnThumbnmail img {
    width: 20px!important;
    height: 20px!important;
}


/*offerContainer start */

.offersContainer {
    height: 70px;
    background: #004db7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 4px;
}

.offersContainer h3 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 18px;
}

.offersContainer i {
    font-size: 50px;
    flex-grow: 1;
}

.offerData label {
    font-size: 12px;
}

.offerData {
    flex-grow: 6;
}

.offerPercentage {
    height: 50px;
    width: 70px;
    background: #fff;
    color: #004db7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.offerPercentage strong {
    font-size: 36px;
}

.offerPercentage sub {
    margin-top: 7px;
    font-size: 24px;
}

.userMenuIcon {
    display: none;
}


/*offerContainer end */

@media screen and (min-width:320px) and (max-width:480px) and (orientation: portrait) {
    .userMenuIcon {
        position: absolute;
        top: 97px;
        left: 23px;
        color: white;
        display: block;
    }
    .userMenuContainer {
        width: 198px;
        height: auto;
        z-index: 999999999;
        position: absolute;
        left: 23px;
        top: 126px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid #E1E1E1;
    }
    .userMenuFieldsContainer {
        display: flex;
        flex-direction: column;
    }
    .userMenuSubFieldsContainer {
        display: flex;
        align-items: center;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #e0e0e0;
        padding-left: 25px;
        padding-right: 25px;
        color: #959595;
        cursor: pointer;
        font-size: 14px;
    }
    .userMenuFieldsContainer div:last-child {
        border-bottom-style: none;
    }
    .userMenuSubFieldsContainer i {
        padding-right: 20px;
    }
    .userMenuFieldsContainer .userMenuSubFieldsContainer:last-child:hover {
        background-color: #90caf9;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        color: #ffffff;
    }
    .userMenuSubFieldsContainer:hover {
        background-color: #90caf9;
        color: #ffffff;
    }
    .userMenuFieldsContainer .userMenuSubFieldsContainer:first-child:hover {
        background-color: #90caf9;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        color: #ffffff;
    }
    .userMenuContainer:after,
    .userMenuContainer:before {
        bottom: 100%;
        left: 6%;
        border: 2px solid black;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .userMenuContainer:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: white;
        border-width: 10px;
        margin-left: -10px;
    }
    .service-provider-leftSide {
        display: none;
    }
    .service-provider-rightSide {
        width: 100%;
    }
    .sidebarIcon {
        padding-right: 10px;
        min-width: 25px;
    }
    .sidebarIcon i {
        font-size: 24px;
    }
    .sidebarItems p {
        min-width: 100px;
        font-size: 16px;
    }
    .active-link {
        color: #6A96FF;
    }
    .sidebarItems {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 1px;
        align-items: center;
        padding-left: 25px;
        font-size: 18px;
        cursor: pointer;
        background: #eee;
    }
    .breadcrumbsSection ul {
        margin-left: 40px;
    }
    .spdetailpageContainer {
        flex-flow: row wrap;
    }
    .roomDetailDiv,
    .priceAndFecilityDiv {
        width: 100%;
    }
    .textFields {
        display: flex;
        flex-direction: column;
    }
    .seatsSizeInformation {
        margin: 6px;
        height: 15px;
    }
    .price {
        margin-top: 0px;
    }
    .editBtn {
        width: 100%;
    }
    .priceAndFecilityDiv .editBtnDiv {
        justify-content: flex-start;
        width: 100%;
        margin-top: 12px;
    }
    .iconOnThumbnmail {
        width: 100%;
    }
    service-provider-footer {
        display: none;
    }
    .thumbnailTitle span:first-child {
        font-size: 17px !important;
    }
    .thumbnailTitle span:last-child {
        font-size: 14px !important;
    }
    .roomTitle {
        width: 100%;
    }
    .descTitleDiv {
        padding-bottom: 55px;
        display: flex;
        flex-flow: row wrap;
    }
    .termsAndConditionsContainer {
        display: flex;
        flex-flow: row wrap;
        width: auto !important;
    }
}

@media screen and (min-width:640px) and (max-width:800px) and (orientation:landscape) {
    .userMenuIcon {
        position: absolute;
        top: 97px;
        left: 23px;
        color: white;
        display: block;
    }
    .userMenuContainer {
        width: 198px;
        height: auto;
        z-index: 999999999;
        position: absolute;
        left: 23px;
        top: 126px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid #E1E1E1;
    }
    .userMenuFieldsContainer {
        display: flex;
        flex-direction: column;
    }
    .userMenuSubFieldsContainer {
        display: flex;
        align-items: center;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #e0e0e0;
        padding-left: 25px;
        padding-right: 25px;
        color: #959595;
        cursor: pointer;
        font-size: 14px;
    }
    .userMenuFieldsContainer div:last-child {
        border-bottom-style: none;
    }
    .userMenuSubFieldsContainer i {
        padding-right: 20px;
    }
    .userMenuFieldsContainer .userMenuSubFieldsContainer:last-child:hover {
        background-color: #90caf9;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        color: #ffffff;
    }
    .userMenuSubFieldsContainer:hover {
        background-color: #90caf9;
        color: #ffffff;
    }
    .userMenuFieldsContainer .userMenuSubFieldsContainer:first-child:hover {
        background-color: #90caf9;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        color: #ffffff;
    }
    .userMenuContainer:after,
    .userMenuContainer:before {
        bottom: 100%;
        left: 6%;
        border: 2px solid black;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .userMenuContainer:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: white;
        border-width: 10px;
        margin-left: -10px;
    }
    .service-provider-leftSide {
        display: none;
    }
    .service-provider-rightSide {
        width: 100%;
    }
    .sidebarIcon {
        padding-right: 10px;
        min-width: 25px;
    }
    .sidebarIcon i {
        font-size: 24px;
    }
    .sidebarItems p {
        min-width: 100px;
        font-size: 16px;
    }
    .active-link {
        color: #6A96FF;
    }
    .sidebarItems {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 1px;
        align-items: center;
        padding-left: 25px;
        font-size: 18px;
        cursor: pointer;
        background: #eee;
    }
    .breadcrumbsSection ul {
        margin-left: 40px;
    }
    .spdetailpageContainer {
        flex-flow: row wrap;
    }
    .roomDetailDiv,
    .priceAndFecilityDiv {
        width: 100%;
    }
    .textFields {
        display: flex;
        flex-direction: column;
    }
    .seatsSizeInformation {
        margin: 6px;
        height: 15px;
    }
    .price {
        margin-top: 0px;
    }
    .editBtn {
        width: 100%;
    }
    .priceAndFecilityDiv .editBtnDiv {
        justify-content: flex-start;
        width: 100%;
        margin-top: 12px;
    }
    .iconOnThumbnmail {
        width: 100%;
    }
    service-provider-footer {
        display: none;
    }
    .thumbnailTitle span:first-child {
        font-size: 17px !important;
    }
    .thumbnailTitle span:last-child {
        font-size: 14px !important;
    }
    .roomTitle {
        width: 100%;
    }
    .descTitleDiv {
        display: flex;
        flex-flow: row wrap;
    }
    .termsAndConditionsContainer {
        display: flex;
        flex-flow: row wrap;
        width: auto !important;
    }
}