header {
    background: #004DB7;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-right a {
    color: #fff;
    font-size: 14px;
}

.header-left {
    width: 50%;
    float: left;
}

.header-right {
    float: right;
    text-align: right;
    width: 50%;
}


/*breadcrumbs*/

.breadcrumbsSection {
    background: #6A96FF;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}

.breadcrumbsSection a {
    color: #fff;
    cursor: pointer;
}

.breadcrumbsSection ul {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.breadcrumbsSection ul li {
    color: #fff;
    font-size: 12px;
}

.breadcrumbsSection ul span {
    color: #fff;
    padding: 0px 7px;
}

footer {
    background: #212121;
    padding: 10px;
}

.footerBoxesContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #949494;
    padding-bottom: 10px;
    margin-bottom: 20px;
    flex-flow: row wrap;
}

.footerBox h2 {
    color: #fff;
    font-size: 20px;
}

.footerBox ul {
    list-style: none;
    padding: 0px;
}

.footerBox li {
    color: #949494;
    margin: 10px 0px;
    cursor: pointer;
}

.newsletterForm input {
    background: #545454;
    border: none;
    padding: 10px;
    color: #fff;
}

.newsletterForm button {
    border: 1px solid #fff;
    background: no-repeat;
    color: #949494;
    padding: 8px 22px;
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
}

.footerBottomContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-flow: row wrap;
}

.footerBottomItems ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footerBottomItems li {
    color: #949494;
    cursor: pointer;
}

.importantLinks li {
    font-size: 12px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.footerBottomItems p {
    color: #949494;
    margin: 0px;
}

.socialIcons li {
    float: left;
    margin-left: 10px;
}

.socialIcons i {
    background: #949494;
    color: #212121;
    height: 35px;
    width: 35px;
    border-radius: 3px;
    text-align: center;
    font-size: 26px;
    line-height: 32px;
}

.footerBox form {
    display: flex;
    flex-direction: column;
}


/*page CSS starts*/

.signUp-form {
    height: auto;
    width: 800px;
    display: flex;
}

.signUpInfoContainer {
    background-color: #1976D3;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    padding-top: 20px;
}

.signUpHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

.createHuddilAccountHeading {
    font-size: 25px;
    margin-bottom: 0px;
}

.createHuddilAccountHeadingInfo {
    font-size: 12px;
}

.signUpInfoChildContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-left: 1px;
    padding-right: 7px;
}

.iconContainer img {
    width: 130px;
    color: white;
    height: 73px;
}

.signUp-infoSubContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.heading {
    font-size: 23px;
    margin-top: 12px;
}

.headingInfo {
    font-size: 14px;
    margin-top: -21px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formFieldContainer {
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
}

.newUserRegisterHeading {
    font-size: 21px;
    font-weight: bold;
    color: black;
    padding-left: 11px;
    margin-top: -4px;
    text-align: center;
}

.inputFieldcontainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    align-items: center;
}

.inputFieldcontainer input {
    width: 335px;
    height: 35px;
    padding-left: 12px;
}

.inputFieldcontainer i {
    position: absolute;
    padding-right: 11px;
    font-size: 20px;
    color: gray;
}

.rememberMeAndForgotPasswordContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 4px;
    color: #555;
    font-size: 14px;
    flex-flow: row wrap;
    width: 360px;
}

.termsText {
    font-size: 14px;
}

.termsacceptlink {
    cursor: pointer;
    color: #004DB7;
}

.validationMsgContainer {
    margin-top: 26px;
}

.submitButton {
    height: 40px;
    border: none;
    background: #004db7;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    width: 352px;
}

.signupLinkContainer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #404040;
    flex-flow: row wrap;
    width: 400px;
    margin-top: 21px;
    flex-direction: column;
}

.signupLinkContainer a {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.signupLinkContainer span {
    color: #aaa;
    font-size: 14px;
}


/*login page CSS starts*/

.loginRememberMeAndForgotPasswordContainer {
    display: flex;
    justify-content: space-between;
    width: 359px;
    padding-left: 18px;
    font-size: 14px;
    color: black;
    padding-top: 10px;
}

.loginRememberMeAndForgotPasswordContainer span {
    cursor: pointer
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.form-group input {
    width: 335px;
    height: 35px;
    border: none;
    padding-left: 15px;
}

.headingContainer {
    display: flex;
    justify-content: center;
}

.formFieldsContainer {
    background-color: #E0E0E0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    padding-top: 52px;
}

.headingContainer span {
    color: black;
    padding-bottom: 15px;
}

.seperatorText p {
    color: #aaa;
    font-size: 14px;
}

.seperatorLineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 15px;
}

.seperatorLines p {
    height: 1px;
    background: #aaa;
}

.loginWithSocialContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
    flex-flow: row wrap;
}

.loginWithSocialContainer i {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}


/*.fa-facebook {
    background: #0090FF;
}

.fa-google-plus {
    background: #FE0000;
}*/

.signupLinkContainerforLogin {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #404040;
    flex-flow: row wrap;
    width: 400px;
    flex-direction: column;
}

.signupLinkContainerforLogin a {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.signupLinkContainerforLogin span {
    color: #aaa;
    font-size: 14px;
}

.partnerSignUpContainer {
    margin-top: 5px;
}

.hintError {
    color: red;
    font-size: 11px;
    font-weight: lighter!important;
    margin-bottom: 13px;
    padding-left: 6px;
}

.processingText {
    color: #000;
    font-size: 11px;
    font-weight: lighter!important;
    margin-bottom: 13px;
    padding-left: 6px;
}

.submitButtonContainer {
    display: flex;
    justify-content: center;
    /*margin-top: 12px;*/
    color: black;
}

.loginValidationMsg {
    padding-left: 25px;
    margin-top: -9px;
    color: red;
    font-size: 11px;
    font-weight: lighter!important;
    margin-bottom: 5px;
}

.verfiyOTPContainer {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.termsAndConditionContainer {
    display: flex;
    flex-direction: column;
}

.verfiyOTPContainer input {
    width: 100px;
    height: 41px;
    padding-left: 12px;
}

.verfiyOTPContainer button {
    height: 40px;
    border: none;
    background: #8a8a8a;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    width: 100px;
    margin-left: 13px;
}


/*.errorStatusMsz {
    display: flex;
    padding-left: 5px;
}*/

.loaderContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.loaderContainer img {
    width: 75px;
    height: 75px;
}

.descriptionContainer {
    display: flex;
    background-color: white;
    width: 300px;
    align-items: flex-start;
    height: 200px;
    padding: 10px;
    margin-top: 100px;
    overflow-y: auto;
    margin-bottom: 18px;
}

.okButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.okButtonContainer button {
    width: 100px;
    height: 40px;
    background-color: #1B5BA9;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.googleSignUpBtn {
    background: #d34836;
    width: 95px;
    margin-left: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.facebookSignUpBtn {
    background: #3b5998;
    width: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}


/*newly added CSS for signup*/

.signupParentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #3783E1;
    width: 90%;
    padding-bottom: 10px;
    padding-top: 20px;
}

.signupParentContainer:last-child {
    border-bottom: none;
}

.signupChildContainerOne {
    width: 20%;
    /* padding-left: 26px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signupChildContainerOne img {
    height: 27px;
    width: 27px;
}

.signupChildContainerTwo {
    width: 80%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.marginRight10 {
    margin-right: 10px;
}

.SignupfieldSection {
    margin-bottom: 15px;
}

.customError {
    margin-left: 7px;
}

@media screen and (min-width:320px) and (max-width:480px) and (orientation:portrait) {
    .signUpInfoContainer {
        display: none;
    }
    .signUp-form {
        justify-content: center;
    }
    .signupLinkContainerforLogin,
    .formFieldsContainer,
    .formFieldContainer {
        width: 283px;
    }
    .loginRememberMeAndForgotPasswordContainer {
        width: 270px;
        padding-left: 8px;
    }
    .form-group input,
    .submitButton {
        width: 255px;
    }
    .inputFieldcontainer input {
        width: 255px;
        margin-right: 5px;
    }
    .rememberMeAndForgotPasswordContainer {
        margin-left: 10px;
    }
    .signupLinkContainer {
        width: 100%;
    }
    .consumerSignUpClass {
        width: 100%;
    }
}

@media screen and (min-width:640px) and (max-width:800px) and (orientation:landscape) {
    .signUpInfoContainer {
        display: none;
    }
    .signUp-form {
        justify-content: center;
    }
}