<advisor-header></advisor-header>

<div class="service-provider-main-page">
    <!--sidebar-->
    <div class="service-provider-leftSide">
        <advisor-sidebar></advisor-sidebar>
    </div>

    <!--right side seciton-->
    <div class="service-provider-rightSide">
        <!--breadcrumbs-->
        <div class="breadcrumbsSection">
            <ul>

                <li>Change Password</li>

            </ul>
        </div>
        <div class="service-provider-page">
            <div class="changePasswordMainPage">
                <div class="changePasswordContainer" *ngIf="!isPasswordChanged">
                    <div class="changePasswordHeadingContainer">
                        <p> Change Password</p>
                    </div>
                    <p class="heading">To set up a password for your account, enter the password you want below:</p>
                    <form [formGroup]="form" (ngSubmit)="changePassword()">
                        <div class="changePasswordFieldContainer">
                            <div class="inputFieldcontainer">
                                <input type="password" placeholder="Old Password" formControlName="oldPassword" id="input_oldPassword">
                                <i class="fa fa-lock" aria-hidden="true"></i>

                            </div>
                            <div *ngIf="form.controls.oldPassword.errors">
                                <div class="hintError" *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.errors.required"><strong>Enter old password</strong>
                                </div>
                            </div>
                            <div class="inputFieldcontainer">
                                <input type="password" minlength="6" maxlength="15" placeholder="New Password" formControlName="password" id="input_newPassword">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div *ngIf="form.controls.password.errors">
                                <div class="hintError" *ngIf="form.controls.password.touched && form.controls.password.errors">
                                    <div class="hintError" *ngIf="form.controls.password.errors.required"><strong>Enter password</strong> </div>
                                    <div class="hintError" *ngIf="form.controls.password.errors.minlength">Password must be 6 characters long</div>
                                    <div class="hintError" *ngIf="form.controls.password.errors.maxlength">Password must be maximum 15 letters</div>
                                </div>
                            </div>
                            <div class="inputFieldcontainer">
                                <input type="password" placeholder="Confirm Password" formControlName="cpassword" id="input_confirmPassword">
                                <i class="fa fa-lock" aria-hidden="true"></i>

                            </div>
                            <div *ngIf="form.controls.cpassword.errors">
                                <div class="hintError" *ngIf="form.controls.cpassword.errors.MatchPassword"><strong>Password entries do not match.</strong> </div>
                                <div class="hintError" *ngIf="form.controls.cpassword.touched && form.controls.cpassword.errors.required"><strong>Enter confirm password</strong>
                                </div>
                            </div>

                        </div>
                        <div class="passwordNotChangedErrorMsg" *ngIf="isPasswordNotChanged"><strong>{{errorMsg}}</strong> </div>
                        <div class="buttonContainer"><button class="advisorModuleButtons" type="submit" id="button_saveChanges">Save Changes</button></div>
                    </form>

                </div>


            </div>

            <div *ngIf="this.meetupService.isShowPopup" class="confirmAlert ">
                <div class="mszbox zoomIn" [class.zoomOut]="!this.meetupService.isShowPopup">
                    <div class="popup-header" [class.warning]="this.meetupService.isWarningPopup">
                        <h3 *ngIf="this.meetupService.isWarningPopup"> Alert!</h3>
                        <h3 *ngIf="!this.meetupService.isWarningPopup"> Success!</h3>
                    </div>
                    <div class="popup-body">
                        {{this.meetupService.popupMessage}}
                    </div>
                    <div class="popup-footer">
                        <button class="consumerModuleButtons" (click)="closePopup()" id="button_ok">OK</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<advisor-footer></advisor-footer>