.service-provider-rightSide {
    float: left;
    width: calc(100% - 200px);
}

.service-provider-main-page {
    display: flex;
}

.changePasswordMainPage {
    background: #fff;
    /*padding: 25px!important;*/
    min-height: 100vh;
}


/*header footer and breadcrums css starts*/


/*default page css */

.service-provider-rightSide {
    float: left;
    width: calc(100% - 200px);
}


/*breadcrumbs*/

.breadcrumbsSection {
    background: #FF9D3F;
    padding-left: 30px;
}

.breadcrumbsSection ul {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.breadcrumbsSection ul li {
    color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.breadcrumbsSection ul li:last-child {
    cursor: inherit;
}

.breadcrumbsSection ul span {
    color: #fff;
    padding: 0px 7px;
}


/*page CSS starts*/

.changePasswordContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.changePasswordHeadingContainer {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    /* color: #F2F2F2; */
    border-bottom-color: #E2E2E2;
}

.changePasswordHeadingContainer p {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding-bottom: 10px;
}

.heading {
    font-size: 16px;
    color: #777777;
    margin-bottom: 35px;
}

.inputFieldcontainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.inputFieldcontainer input {
    width: 350px;
    height: 35px;
    padding-left: 12px;
}

.inputFieldcontainer i {
    position: absolute;
    padding-right: 9px;
    font-size: 20px;
    color: gray;
}

.changePasswordFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 85px;
}

.buttonContainer button {
    width: 130px;
    height: 40px;
    font-size: 14px;
    border: none;
    color: white;
    cursor: pointer;
}

.hintError {
    color: red;
    font-size: 11px;
    font-weight: lighter!important;
    margin-top: -15px;
    margin-bottom: 15px;
}

.passwordNotChangedErrorMsg {
    color: red;
    font-size: 11px;
    font-weight: lighter!important;
    margin-bottom: 12px;
}

.passChangedMsg {
    display: flex;
    justify-content: center;
}