<service-provider-header></service-provider-header>
<div class="service-provider-main-page">
    <!--sidebar-->
    <div class="service-provider-leftSide">
        <sidebar></sidebar>
    </div>

    <!--right side seciton-->
    <div class="service-provider-rightSide">
        <!--breadcrumbs-->

        <div class="breadcrumbsSection">
            <ul>
                <li [routerLink]="['']">Home</li>
                <span>&rarr;</span>
                <li>Change Password</li>
            </ul>
            <i (click)="myFunction()" class="material-icons userMenuIcon">menu</i>
        </div>
        <div class="userMenuContainer" *ngIf="isShowSideMenuPopup">
            <div class="userMenuFieldsContainer">

                <div class="sidebarItems" routerLink='/service-provider/dashboard' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <p>Dashboard</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/facility-listing' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">location_city</i>
                    </div>
                    <p>Facility</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/payment-history' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">payment</i>
                    </div>
                    <p>Payment</p>
                    <div class="sidebarIcon">

                    </div>
                </div>
                <div class="sidebarItems" routerLink='/service-provider/booking-history' routerLinkActive="active-link">
                    <div class="sidebarIcon">
                        <i class="material-icons">date_range</i>
                    </div>
                    <p>Booking</p>
                    <div class="sidebarIcon">

                    </div>
                </div>


            </div>
        </div>
        <div class="changePasswordMainPage">
            <div class="changePasswordContainer" *ngIf="!isPasswordChanged">
                <div class="changePasswordHeadingContainer">
                    <p> Change password</p>
                </div>
                <p class="heading">To set up a password for your account, enter the password you want below:</p>
                <form [formGroup]="form" (ngSubmit)="changePassword()">
                    <div class="changePasswordFieldContainer">
                        <div class="inputFieldcontainer">
                            <input type="password" placeholder="Old Password" formControlName="oldPassword" id="input_oldPassword">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </div>
                        <div *ngIf="form.controls.oldPassword.errors">
                            <div class="hintError" *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.errors.required">Enter old password
                            </div>
                        </div>
                        <div class="inputFieldcontainer">
                            <input type="password" minlength="6" maxlength="15" placeholder="New Password" formControlName="password" id="input_newPassword">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </div>
                        <div *ngIf="form.controls.password.errors">
                            <div class="hintError" *ngIf="form.controls.password.touched && form.controls.password.errors">
                                <div class="hintError" *ngIf="form.controls.password.errors.required">Enter password </div>
                                <div class="hintError" *ngIf="form.controls.password.errors.minlength">Password must be at least 6 characters long</div>
                                <div class="hintError" *ngIf="form.controls.password.errors.maxlength">Password must be maximum 15 characters long</div>
                            </div>
                        </div>
                        <div class="inputFieldcontainer">
                            <input type="password" placeholder="Confirm Password" formControlName="cpassword" id="input_confirmPassword">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </div>
                        <div *ngIf="form.controls.cpassword.errors">
                            <div class="hintError" *ngIf="form.controls.cpassword.errors.MatchPassword && !isPasswordNotChanged">Password entries do not match. </div>
                            <div class="hintError" *ngIf="form.controls.cpassword.touched && form.controls.cpassword.errors.required && !isPasswordNotChanged">Enter confirm password
                            </div>
                        </div>
                    </div>
                    <div class="passwordNotChangedErrorMsg" *ngIf="isPasswordNotChanged">{{errorMsg}} </div>
                    <div class="buttonContainer"><button class="consumerModuleButtons" type="submit" id="button_saveChanges">Save Changes</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.meetupService.isShowPopup" class="confirmAlert ">
    <div class="mszbox zoomIn" [class.zoomOut]="!this.meetupService.isShowPopup">
        <div class="popup-header" [class.warning]="this.meetupService.isWarningPopup">
            <h3 *ngIf="this.meetupService.isWarningPopup"> Alert!</h3>
            <h3 *ngIf="!this.meetupService.isWarningPopup"> Success!</h3>
        </div>
        <div class="popup-body">
            {{this.meetupService.popupMessage}}
        </div>
        <div class="popup-footer">
            <button class="consumerModuleButtons" (click)="closePopup()" id="button_ok">OK</button>
        </div>

    </div>
</div>
<service-provider-footer></service-provider-footer>