<div class="latestNews">
    <div class="newsItemBlock">
        <img src="../assets/latestNews.jpg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Mauris pretium bibendum lobortis. Proin elit tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Proin elit
            tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. </p>
    </div>
    <div class="newsItemBlock">
        <img src="../assets/latestNews.jpg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Mauris pretium bibendum lobortis. Proin elit tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Proin elit
            tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum.</p>
    </div>
    <div class="newsItemBlock">
        <img src="../assets/latestNews.jpg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Mauris pretium bibendum lobortis. Proin elit tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum. Proin elit
            tellus,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum feugiat vestibulum.</p>
    </div>
</div>