.mainContainer {
    background-color: black;
}

.imgMeetingRoom {
    object-fit: cover;
    width: 100%;
    height: 169px;
}

.ratingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10px;
}

.facilityLocationHeadingContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 5px;
}

.facilityIconsContainer .svgImg {
    border: 1px solid #E8E8E8;
    height: 20px;
    width: 20px;
    padding: 5px;
    margin-right: 17px;
}

.ratingContainer img {
    width: 24px;
    height: 21px;
}

.facilityLocationHeadingContainer span,
.ratingContainer span {
    font-size: 12px;
    color: #555;
    padding-top: 6px;
}

.facilityLocationHeadingContainer span i {
    padding-right: 6px;
}

.facilityLocationHeadingContainer h3 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: #515151;
    font-weight: normal;
}

.ratingContainer p {
    font-size: 13px;
}

.facilityLocationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.facilityLocationHeadingContainer img {
    width: 16px;
    height: 15px;
}

.facilityLocationHeadingContainer p:first-child {
    font-size: 20px;
    color: #8C8C8C;
}

.facilityLocationHeadingContainer p:last-child {
    margin-top: -16px;
    font-size: 13px;
    color: #B9B9B9;
}

.facilityPriceContainer {
    border: 1px solid #c1c1c1;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    align-items: center;
    margin-top: 15px;
}

.facilityPriceContainer p {
    margin: 0px;
    font-size: 18px;
    color: #0081CB;
}

.facilityPriceContainer select {
    border: none;
    padding: 5px;
    color: #FFFFFF;
    font-size: 12px;
    color: #0081CB
}

.moneyIcon {
    padding-right: 11px;
    font-size: 17px;
    font-weight: lighter;
}

.facilityCapacityDivision {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #7C7C7C;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cursorPointer {
    cursor: pointer;
}

.facilityPriceContainer .fa-inr {
    padding-right: 5px;
}

.facilityDetailsContainer {
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}

.facilityIconsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.amenityList {
    display: flex;
    justify-content: flex-start;
}

.facilityIconsContainer i {
    font-size: 18px;
    background-color: white;
    border: 1px solid #E8E8E8;
    margin-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 12px;
    height: 27px;
    margin-top: 6px;
    padding-left: 9px;
    padding-top: 8px;
    height: 23px;
    margin-top: 11px;
    color: #505050;
}

.newFacilityIcon {
    border: 1px solid #E8E8E8;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 5px;
    height: 23px;
    margin-top: 12px;
    font-size: 12px;
    color: #969696;
    cursor: pointer;
}

.facilityThumbnail {
    position: relative;
    cursor: pointer;
    height: 169px;
}

.iconOnThumbnmail {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
}

.iconOnThumbnmail span {
    color: white;
    font-size: 12px;
    padding-left: 10px;
}

.iconOnThumbnmail img {
    width: 20px;
    padding-right: 10px;
}

.iconOnThumbnmail .fa-pencil {
    background: #fff;
    color: #000;
}

.iconOnThumbnmail .fa-bell {
    background: green;
    color: #fff;
}

.iconOnThumbnmail i {
    padding: 6px;
    cursor: pointer;
}

.facilityApprovedColor {
    color: green;
}

.facilityNotApprovedColor {
    color: red
}

.ratingCountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65px;
}

.ratingCountContainer i {
    opacity: 0.5;
}

.buttonContainer i {
    position: absolute;
    top: 12px;
    left: 18px;
    font-size: 20px;
    color: #fff;
}

.booknowbtn {
    background: #FE5200;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.buttonContainer button {
    position: absolute;
    top: 10px;
    right: 11px;
    height: 30px;
    width: auto;
    background-color: #FE5200;
    color: white;
    border-color: white;
}

.certifiedIcon {
    width: 25px;
    position: absolute;
    left: 18px;
    top: 12px;
}

.textMore {
    font-size: 12px;
    color: #969696;
    cursor: pointer;
    width: 72px;
    margin: 0px;
    height: 30px;
    border: 1px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
    position: absolute;
    /* margin-top: -53px; */
    /* margin-left: -71px; */
    width: auto;
    background-color: white;
    border-radius: 6px;
    padding: 16px 0;
    border: 1px solid #8C8C8C;
    box-shadow: 0px 0px 5px 0px #8C8C8C;
    right: 11px;
    /* display: flex; */
    bottom: 41px;
}

.tooltip img {
    margin-left: 5px;
    margin-right: 5px;
}

.facilityIconsContainer img {
    border: 1px solid #E8E8E8;
    height: 20px;
    width: 20px;
    padding: 5px;
    margin-right: 17px;
}

.dateCalendar i,
.dateCalendar img {
    font-size: 17px;
    padding-right: 10px;
}

.areaIcon {
    font-size: 17px;
    padding-right: 10px;
    width: 14px;
}

.dateCalendar {
    display: flex;
    align-items: center;
}

.parentContainer {
    width: 325px;
    /* padding-right: 20px; */
    border: 1px solid #D6D6D6;
    /* padding-top: 15px; */
    margin-right: 8px;
}

.parentContainer:hover {
    box-shadow: 0px 0px 15px 0px rgba(193, 193, 193, 1);
}

.facilityTitleContainer {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 93%;
    height: 40px;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    background: linear-gradient(transparent, #000)
}

.titleHeading {
    color: white;
    font-size: 14px;
}