<consumer-header></consumer-header>
<div class="breadcrumbsSection">
    <ul>
        <li [routerLink]="['']">Home</li>
        <span>&rarr;</span>
        <li (click)="goBack()">Facility Details</li>
        <span>&rarr;</span>
        <li>Booking Summary</li>

    </ul>
</div>
<div class="bookingSummaryContainer">
    <div class="bookingSummaryTitleContainer">
        <p>Booking Summary</p>
        <button id="button_replan" class="filterFindButton consumerModuleButtons" (click)="goBack()" [hidden]="isHideReplan"><i class="fa fa-calendar replanIcon" aria-hidden="true"></i>Replan</button>
    </div>
    <div class="circle-content">
        <div class="individualCircleContainer">
            <button class="activeCircle" id="button_step1">1</button>
            <p></p>
            <button id="button_step2">2</button>
            <p></p>
            <button id="button_step3">3</button>
        </div>
        <div class="circleHeadingContainer">
            <p class="step">SUMMARY</p>
            <p class="step1">PAYMENT</p>
            <p class="step3">CONFIRM</p>
        </div>
    </div>
    <div class="bookingContainer">
        <div class="reviewBookingContainer">
            <div class="reviewBookingDetailsContainer">
                <div class="ReviewHeadingContainer">Review Your Booking</div>
                <div class="bookingDetailsContainer">
                    <div class="individualBookingDetailContainer">
                        <div class="detailsSubContainer">Facility Type</div>
                        <div class="detailsSubContainer">{{bookingDetails.facilityType}}</div>
                    </div>
                    <div class="individualBookingDetailContainer">
                        <div class="detailsSubContainer">Room Name</div>
                        <div class="detailsSubContainer">{{bookingDetails.title}}</div>
                    </div>
                    <div class="individualBookingDetailContainer">
                        <div class="detailsSubContainer">Address</div>
                        <div class="detailsSubContainer">{{bookingDetails.location.name}}, {{bookingDetails.location.address}}, {{bookingDetails.city}}</div>
                    </div>
                    <div class="individualBookingDetailContainer">
                        <div class="detailsSubContainer">Seats</div>
                        <div class="detailsSubContainer">{{seats}}</div>
                    </div>
                    <div class="individualBookingDetailContainer">
                        <div class="detailsSubContainer">Start Date and Time</div>
                        <div class="detailsSubContainer">{{bookingTiming[0].startTime}}</div>
                    </div>
                    <div class="individualBookingDetailContainer">
                        <div class="detailsSubContainer">End Date and Time</div>
                        <div class="detailsSubContainer">{{bookingTiming[0].endTime}}</div>
                    </div>
                </div>
            </div>
            <div class="reviewBookingDetailsContainer">
                <div class="ReviewHeadingContainer">Service Provider Details</div>
                <div class="bookingDetailsContainer">
                    <div class="individualBookingDetailContainer">
                        <div class="detailsSubContainer">Mobile</div>
                        <div class="detailsSubContainer">{{bookingDetails.contactNo}}</div>
                    </div>
                    <div class="individualBookingDetailContainer">
                        <div class="detailsSubContainer">E-mail</div>
                        <div class="detailsSubContainer">{{bookingDetails.emailId}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="BookingpriceContainer">
            <div class="priceDetails">
                <div class="individualpriceDetailContainer">
                    <p>Base Price</p>
                    <p><i class="fa fa-inr rupeesIcon" aria-hidden="true"></i>{{costDetails.basePrice}}</p>
                </div>
                <div class="individualpriceDetailContainer">
                    <p>SGST</p>
                    <p><i class="fa fa-inr rupeesIcon" aria-hidden="true"></i>{{costDetails.sGstCost}}</p>
                </div>
                <div class="individualpriceDetailContainer">
                    <p>CGST</p>
                    <p><i class="fa fa-inr rupeesIcon" aria-hidden="true"></i>{{costDetails.cGstCost}}</p>
                </div>
                <div class="individualpriceDetailContainer" *ngIf="costDetails.offer>0">
                    <p>Offer</p>
                    <p>- <i class="fa fa-inr rupeesIcon" aria-hidden="true"></i>{{costDetails.offer}}</p>
                </div>

            </div>
            <div class="totalPriceContainer">
                <p>Total</p>
                <p class="totalPriceHeading"><i class="fa fa-inr rupeesIcon" aria-hidden="true"></i>{{costDetails.totalCost}}</p>
            </div>
            <form [formGroup]="form" class="paymentTypeContainer" *ngIf="bookingDetails.paymnetType==3">
                <div class="paymentModeContainer"><input formControlName="method" type="radio" [checked]="true" name="method" value="online" id="input_onlinePayment3">Online Payment</div>
                <div class="paymentModeContainer"><input formControlName="method" type="radio" name="method" value="offline" id="input_offlinePayment3">Offline Payment</div>
            </form>
            <form [formGroup]="form" class="paymentTypeContainer" *ngIf="bookingDetails.paymnetType==1">
                <div class="paymentModeContainer"><input formControlName="method" type="radio" [checked]="true" name="method" value="online" id="input_onlinePayment1">Online Payment</div>
                <div style="opacity:0.4" class="paymentModeContainer"><input formControlName="method" type="radio" name="method" value="offline" id="input_offlinePayment1" title="Offline Payment Method is not applicable for this facility" disabled>Offline Payment</div>
            </form>
            <form [formGroup]="form" class="paymentTypeContainer" *ngIf="bookingDetails.paymnetType==2">
                <div class="paymentModeContainer" style="opacity:0.4"><input formControlName="method" type="radio" [checked]="true" name="method" id="input_onlinePayment2" value="online" disabled title="Online Payment Method is not applicable for this facility">Online Payment</div>
                <div class="paymentModeContainer"><input formControlName="method" type="radio" [checked]="true" name="method" value="offline" id="input_offlinePayment2">Offline Payment</div>
            </form>
            <div class="continueToPayContainer">
                <p *ngIf="bookingProcessStart">Processing...</p>

                <button [hidden]="bookingProcessStart" (click)="createBooking()" id="button_confirm">Confirm</button>
            </div>
            <div class="continueToPayContainer">
                <p class="bookingError" *ngIf="bookingErrorMessage!=''">{{bookingErrorMessage}}</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.meetupService.isShowPopup" class="confirmAlert ">
    <div class="mszbox zoomIn" [class.zoomOut]="!this.meetupService.isShowPopup">
        <div class="popup-header" [class.warning]="this.meetupService.isWarningPopup">
            <h3 *ngIf="this.meetupService.isWarningPopup"> Alert!</h3>
            <h3 *ngIf="!this.meetupService.isWarningPopup"> Success!</h3>
        </div>
        <div class="popup-body">
            {{this.meetupService.popupMessage}}
        </div>
        <div class="popup-footer">
            <button class="consumerModuleButtons" (click)="closePopup()" id="button_ok">OK</button>
        </div>

    </div>
</div>
<app-footer></app-footer>