<!-- <footer>
    <div class="footerMainContainer">
        <div class="leftContainer">
            <a>Usage Policy</a>
            <a>Privacy Policy</a>
            <a>Partners</a>
        </div>
        <div class="middleContainer">
            Middle
        </div>
        <div class="rightContainer">
            Right
        </div>
    </div>
</footer> -->

<footer>
    <div class="footerBottomContainer">
        <div class="footerBottomItems importantLinks">
            <ul>
                <li routerLink="/usage-policy">Usage Policy</li>
                <li routerLink="/privacy">Privacy Policy</li>
                <li routerLink="/disclaimer">Disclaimer</li>
            </ul>
        </div>
        <div class="footerBottomItems">
            <p>&copy; Huddil.com. All Rights Reserved.</p>
        </div>
        <div class="footerBottomItems socialIcons">
            <ul>
                <li><a target="_blank" href="https://www.linkedin.com/company/13607747/"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="https://www.facebook.com/Huddil-310905326092965/"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/Huddil_myApps"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://plus.google.com/118304525751618801528"><i class="fa fa-google-plus"></i></a></li>

            </ul>
        </div>
    </div>
    <div class="footerBottomContainer" style="justify-content: center;color: #949494;font-size: 12px;">
        <p>Site best viewed at 1280 x 768 resolution in Google Chrome 3 or above, Mozilla 3.5 or above,I.E 11 or above</p>
    </div>
</footer>