<consumer-header></consumer-header>
<!--breadcrumbs-->
<div class="breadcrumbsSection">
    <ul>
        <li [routerLink]="['']">Home</li>
        <span>&rarr;</span>
        <li>Forgot Password</li>
    </ul>
    <!--<a (click)="showAddIpBox();">Add Endpoints</a>-->
</div>
<div class="forgottenPasswordContainer" *ngIf="!isForgotPasswordOTPEmailSent">
    <form [formGroup]="form" (ngSubmit)="sendResetPasswordLink()">

        <div class="forgottenPasswordHeadingContainer">
            <p> Forgot password</p>
        </div>
        <p class="heading">Reset your password by filling in your e-mail address. You will then receive an email with a link that will let you enter a new password. If you don't receive the email, please contact <a>support@huddil.com</a></p>
        <div class="forgottenPasswordFieldContainer">

            <div class="inputFieldcontainer">
                <input type="text" placeholder="Resgistered E-mail Id" formControlName="email" id="input_registredEmailId">

            </div>
        </div>

        <div class="buttonContainer">
            <p class="hintError" *ngIf="isEmailIdEntered">Please enter valid email id</p>
            <p class="hintError" *ngIf="invalidEmailId">Email is not registered with us. Please enter registered email id.</p>
            <p class="processingMsz" *ngIf="isEmailSendingProcessStart">We are processing your request...</p>
            <button type="submit" [hidden]="isEmailSendingProcessStart" id="button_resetPassword">Reset my password</button>
        </div>
    </form>
</div>
<div class="forgotPasswordContainer" *ngIf="isForgotPasswordOTPEmailSent">
    <p>Password reset link has been sent to your registered Email Id.</p>
</div>

<app-footer></app-footer>