/*breadcrumbs starts*/

.breadcrumbsSection {
    background: #6A96FF;
    padding-left: 30px;
}

.breadcrumbsSection ul {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.breadcrumbsSection ul li {
    color: #fff;
    font-size: 12px;
}

.breadcrumbsSection ul span {
    color: #fff;
    padding: 0px 7px;
}


/*breadcrumbs ends*/

.bookingSummaryContainer {
    padding-top: 35px;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.bookingSummaryTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.bookingSummaryTitleContainer p {
    font-size: 25px;
}

.bookingSummaryTitleContainer button {
    height: 50px;
    width: 110px;
    font-size: 20px;
    border: none;
    background-color: #004DB7;
    color: white;
}

.individualCircleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-flow: nowrap;
    align-items: center;
}

.individualCircleContainer button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50px;
    background: #fff;
    border: 2px solid #d3cfcf;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.individualCircleContainer p {
    width: 475px;
    height: 12px;
    background-color: #D8D8D8;
}

.circleHeadingContainer {
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
    font-size: 12px;
    font-weight: bolder;
    color: #565656;
}

.activeCircle {
    background-color: #6A96FF!important;
    border: 1px solid white!important;
    color: white;
}

.orderConfirmation {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 60px;
    padding-bottom: 30px;
    line-height: 24px;
}

.hintError {
    color: red;
    font-size: 11px;
    font-weight: lighter!important;
}

.orderConfirmation i {
    font-size: 24px;
    color: white;
    position: absolute;
    top: 38px;
    left: 20px;
}

.addDetailsButtonContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.confirmationTitleContainer {
    font-size: 20px;
    color: #484848;
    margin-top: 0px;
}

.paymentTitleContainer {
    font-size: 20px;
    margin-top: 0px;
    color: #004CB6;
    font-weight: bold;
}

.recievedPaymentTitleContainer {
    font-size: 15px;
    margin-top: 0px;
}

.recievedPaymentTitleContainer a {
    color: #004DB7;
}

.buttonAddMeetingRoom {
    height: 40px;
    width: 235px;
    background-color: #6897FF;
    font-size: 14px;
    color: white;
    border: none;
    margin-top: 25px;
    padding-left: 46px;
    cursor: pointer;
}

.addTeamLink {
    display: flex;
    justify-content: flex-start;
}

.orderConfirmation img {
    width: 150px;
    height: 150px;
}

.addMeetingRoomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    width: 100%;
    margin-bottom: 80px;
}

.titleMeetingRoomDetailsContainer {
    background-color: #484848;
    color: white;
    width: 55%;
    padding: 16px;
}

.meetingRoomDetailsContainer {
    display: flex;
    flex-direction: column;
    width: 587px;
    border: 1px solid #ABABAB;
    padding: 24px;
    color: #B7B7B7;
}

.inputFields,
.selectField {
    height: 40px;
    padding-left: 20px;
    margin-bottom: 18px;
}

.descriptionFields {
    height: 120px;
    padding-left: 20px;
    margin-bottom: 18px;
}

.selectField {
    color: #909090;
}

.cancelButton {
    width: 115px;
    font-size: 14px;
    height: 40px;
    background-color: #A0A0A0;
    border: none;
    color: white;
}

.savebutton {
    width: 115px;
    font-size: 14px;
    height: 40px;
    background-color: #6A96FF;
    border: none;
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer span {
    width: 20px;
}

@media screen and (min-width:320px) and (max-width:480px) and (orientation: portrait) {
    .individualCircleContainer button {
        width: 70px;
        height: 30px;
        font-size: 18px;
    }
    .confirmationTitleContainer {
        font-size: 15px;
    }
    app-footer {
        display: none;
    }
    .meetingRoomDetailsContainer {
        width: 100%;
        margin-top: 12px;
    }
    .titleMeetingRoomDetailsContainer {
        width: 100%;
    }
    .bookingSummaryTitleContainer p {
        font-size: 20px;
    }
    .bookingSummaryContainer {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media screen and (min-width:640px) and (max-width:800px) and (orientation:landscape) {
    app-footer {
        display: none;
    }
    .individualCircleContainer button {
        width: 85px;
    }
    .titleMeetingRoomDetailsContainer {
        width: 100%;
    }
    .meetingRoomDetailsContainer {
        width: 100%;
        padding: 15px;
    }
}