        /*breadcrumbs starts*/
        
        .breadcrumbsSection {
            background: #6A96FF;
            padding-left: 30px;
        }
        
        .breadcrumbsSection ul {
            height: 40px;
            display: flex;
            justify-content: start;
            align-items: center;
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
        
        .breadcrumbsSection ul li,
        .breadcrumbsSection ul li a {
            color: #fff;
            font-size: 12px;
            text-decoration: none;
        }
        
        .breadcrumbsSection ul span {
            color: #fff;
            padding: 0px 7px;
        }
        /*breadcrumbs ends*/
        
        #consumerParentContainer {
            /*width: 1280px;*/
            /*margin: auto;*/
            /*margin-top: 25px;*/
            height: auto;
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
        
        .roomDetailDiv {
            width: 750px;
            height: auto;
            overflow: hidden;
        }
        
        .priceAndFecilityDiv {
            width: 450px;
            height: auto;
            padding-top: 69px;
        }
        
        .roomTitleDiv {
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        /*.roomTitle {
    width: 50%;
    color: #4D4D4D;
}*/
        /*.activeImg {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}*/
        
        .roomTitleDiv {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .mapDiv {
            margin-top: 35px;
        }
        
        .mapiconAndPlace {
            display: flex;
            margin-top: -10px;
            padding-bottom: 10px;
        }
        
        .mapiconAndPlace i {
            color: #767676;
        }
        
        .mapiconAndPlace sub {
            color: #424242;
            margin-left: 5px;
        }
        
        .thumbnail img {
            width: 750px;
            height: 425px;
            object-fit: cover;
        }
        
        .thumbnail {
            position: relative;
        }
        
        .descriptionTitle {
            width: 100px;
        }
        /*.rating {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}*/
        
        .gold {
            color: #FF8500;
        }
        
        .normal {
            color: #BBBBBB;
        }
        
        .description {
            height: auto;
            /*overflow-y: scroll;*/
            padding-right: 15px;
        }
        
        .nearbyLocationparent {
            display: flex;
            justify-content: flex-start;
            /*margin: auto;*/
            margin-top: 30px;
        }
        
        .nearByLocationContainer {
            /*width: 1280px;*/
            /*margin: auto;*/
            height: auto;
            padding-bottom: 70px!important;
            padding: 20px;
        }
        
        .description p {
            color: #4a4a4a;
            font-size: 14px;
            height: auto;
            line-height: 24px;
        }
        
        .addressDiv {
            margin-bottom: 37px;
        }
        
        .policies {
            font-size: 14px !important;
            margin-top: -5px;
        }
        
        .addressImg {
            width: 40%;
        }
        
        .facilitySeatsAreaInfoItem {
            font-size: 14px;
            background: #E6E6E6;
            /* padding: 10px; */
            height: 40px;
            width: 145px;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        
        .facilitySeatsAreaInfoItem {
            font-size: 14px;
        }
        
        .cancelPolicy p:first-child {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            color: #4a4a4a;
            padding-bottom: 10px;
            border-bottom-color: #c1c1c1;
        }
        
        .address {
            width: 100%;
            font-size: 15px;
        }
        
        .address p {
            margin: 0px;
            font-size: 14px;
        }
        
        .hapyTohelp {
            margin-top: 5px;
            font-size: 15px;
        }
        
        .anyHelp {
            margin: 0px;
            color: #3C3C3C!important;
        }
        
        .addressImg img {
            width: 230px;
            height: 129px;
            object-fit: cover;
        }
        
        .add span {
            cursor: pointer;
            font-size: 16px;
        }
        
        .add {
            padding-top: 15px;
        }
        
        .addressInnerDiv {
            /*display: flex;
    color: #424242;
    margin-bottom: 25px;*/
            display: flex;
            color: #ACACAC;
            box-shadow: 1px 5px 10px 0px #ACACAC;
            margin-top: 40px;
            border: 1px solid #ACACAC;
            padding: 15px;
        }
        
        .cancelPolicy {
            color: #424242;
            margin-top: 35px;
        }
        
        .cancelPolicy p {
            color: #4D4D4D;
        }
        
        .cancelPolicy span {
            font-size: 15px;
        }
        
        .priceTableDiv {
            border: 1px solid rgba(0, 0, 0, 0.15);
            background-color: #EEEEEE;
            display: flex;
            align-items: center;
            padding: 6px;
            flex-direction: column;
        }
        
        .costFormErrorMsz {
            color: red;
            padding: 0px;
            margin: 0px;
            font-size: 11px;
            margin-top: 5px;
        }
        
        .costFormProcessingMsz {
            color: green;
            padding: 0px;
            margin: 0px;
            font-size: 11px;
        }
        
        .fromDate,
        .toDate {
            height: 34px;
            width: 160px;
            padding-left: 10px;
        }
        
        .seats {
            height: 35px;
            width: 30px;
            margin: 2px;
            margin-right: 13px;
            padding-left: 10px;
        }
        
        .thumbnailTitle {
            color: #474747
        }
        
        .bookNowAndTotalParent {
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        .totalButton {
            width: 317px;
            background-color: #424242;
            color: white;
            border: none;
            height: 40px;
            font-size: 14px;
            font-weight: bold;
        }
        
        .bookNowButton {
            width: 114px;
            height: 40px;
            border: none;
            color: white;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            background-color: #004DB7;
        }
        
        .callNowButton {
            width: auto;
            height: 40px;
            border: none;
            background-color: #004DB7;
            color: white;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            padding-left: 12px;
            padding-right: 12px;
        }
        
        .reviewsbox {
            margin-bottom: 15px;
        }
        
        .bookNowButton:active {
            background: #004DB7!important;
        }
        
        .totalDivision {
            display: flex;
            justify-content: space-between;
        }
        
        .fa-heart {
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000;
        }
        
        .priceCatalogues span {
            font-size: 14px;
            margin-right: 10px;
        }
        
        .priceCatalogues .amount {
            font-size: 14px;
            font-weight: bold;
        }
        
        .isfavourite {
            color: #FF004E!important;
        }
        
        .certification {
            width: 30px!important;
            height: 35px!important;
        }
        
        facility-listing-info {
            margin-right: 10px;
        }
        /* .displayOverThumbnail {
    position: absolute;
    top: 0px;
    width: 720px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 9999;
    padding-top: 20px;
} */
        
        .displayOverThumbnail {
            position: absolute;
            top: 0px;
            width: 720px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            z-index: 9999;
            /* padding-top: 20px; */
            background: rgba(0, 0, 0, 0.3);
            height: 50px;
            align-items: center;
        }
        
        .price {
            width: 90%;
            /*box-shadow: 2px 3px 8px 2px #424242;*/
            font-weight: bold;
            margin-top: 20px;
            background: #fff;
            box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.5);
        }
        
        table {
            width: 100%;
        }
        
        .normalFont td {
            font-weight: normal;
            font-size: 12px;
        }
        
        .price tr {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            font-size: 14px;
        }
        
        .openingHourDateDiv {
            height: auto;
            margin-top: 25px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            color: #424242;
            font-size: 15px;
        }
        
        .amenitiesDiv {
            margin-top: 25px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            color: #424242;
            font-size: 15px;
        }
        
        .percentage {
            font-size: 15px!important;
        }
        
        .amenitiesTitle,
        .openingDateTitle {
            height: 40px;
            background-color: #3C3C3C;
            color: white;
        }
        
        .amenitiesTitle p,
        .openingDateTitle p {
            padding: 11px;
            margin-left: 15px;
            margin: 0px;
            font-size: 16px;
        }
        
        .powerContainer {
            width: 135px;
            font-size: 12px;
        }
        
        .amenities img {
            width: 35px;
            height: 30px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            padding: 2px;
        }
        
        .powerbackupDiv,
        .serverDiv,
        .projectorDiv,
        .wifiDiv {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-top: 14px;
            padding-bottom: 10px;
        }
        /*
.powerbackupDiv span,
.serverDiv span,
.projectorDiv span,
.wifiDiv span {
    padding-left: 6px;
}*/
        
        .serverContainer,
        .projectorContainer,
        .wifiContainer {
            display: flex;
            width: 100%;
            /*justify-content: space-around;*/
            margin-top: 15px;
        }
        
        .openingDateTimeTable tr {
            display: flex;
            padding-left: 12px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #c1c1c1;
            font-size: 14px;
        }
        
        .timingSeperator {
            padding-right: 30px;
            padding-left: 30px;
        }
        
        .close {
            color: red;
        }
        
        .day {
            width: 140px;
        }
        
        .fromTime {
            width: 58px;
        }
        
        .lastRowBotton {
            border-bottom: none!important;
        }
        
        table tr:nth-child(2n) {
            background: none!important;
        }
        
        table tbody tr {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #c1c1c1;
        }
        
        table tbody tr:last-child {
            border-bottom-style: none;
        }
        
        .offersTitle,
        .NearByRestaurantsTitle {
            color: white;
            border-bottom: 1px solid #424242;
            background-color: #3C3C3C;
            padding-left: 15px;
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
            align-items: center;
            height: 40px;
        }
        
        .NearByRestaurantsTitle select {
            height: 35px;
        }
        
        .nearByRestorents {
            border: 1px solid rgba(0, 0, 0, 0.15);
            margin-top: 25px;
        }
        
        .offerOne {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #424242;
            height: auto;
            padding: 10px
        }
        
        .nearbyDesc {
            padding: 8px;
            margin: 0px;
        }
        
        .restaurantOne {
            display: flex;
            padding: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
        
        .restaurantTwo {
            display: flex;
            padding: 15px;
        }
        
        .offerDiv {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
        }
        
        #slida-container {
            margin: 30px auto;
            max-width: 1024px;
            max-height: 576px;
        }
        
        .offerDesc {
            margin-left: 6px;
            color: #424242;
        }
        
        .offerDesc p,
        .restaurantDescription p {
            margin: 0px;
            color: #4D4D4D;
        }
        
        .offerImg img {
            width: 100px;
        }
        
        .offerBtn {
            width: 80px;
            height: 70px;
            background-color: #6A96FF;
            border: none;
            margin-right: 15px;
        }
        
        .offerBtn span {
            color: white;
            font-size: 25px;
        }
        
        .restaurantDescription {
            margin-top: 5px;
            color: #424242;
        }
        
        .nearbyLocationDiv {
            height: auto;
            margin-top: 20px;
        }
        
        .calender {
            position: absolute;
            color: #424242;
            padding-right: 12px;
        }
        
        .nearbyLocTitleDiv {
            color: #4D4D4D;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
        
        .nearbyLocTitleDiv p {
            font-size: 16px;
        }
        
        .reusableCodeDiv {
            width: 1280px;
            display: flex;
        }
        
        .selected {
            color: #4A82CD;
        }
        
        .addressTitle {
            color: black;
        }
        
        .total {
            padding-left: 20px;
        }
        
        .priceCatalogues {
            display: flex;
            justify-content: space-between;
        }
        
        .amount {
            font-size: 20px;
            font-weight: bold;
            padding-top: 0px;
        }
        
        .costPerHour,
        .costPerDay,
        .costPerMonth {
            width: 145px;
            height: 85px;
            background-color: #E6E6E6;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            height: 40px;
            flex-grow: 1;
            margin-right: 4px;
        }
        
        .flat {
            flex-direction: column;
            height: 85px;
        }
        
        .flat .amount {
            padding-top: 5px;
        }
        
        .amenities {
            display: flex;
            flex-flow: wrap;
            justify-content: flex-start;
            padding-left: 12px;
            padding-right: 12px;
        }
        
        .detailPage {
            background: #fff;
        }
        
        .descriptionTitleDiv div {
            cursor: pointer;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
        }
        
        .dateContainer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-left: 13px;
            padding-right: 13px;
        }
        
        .datePickerContainer {
            display: flex;
            justify-content: space-between;
        }
        
        .facilitySeatsAreaInfoContainer {
            display: flex;
            justify-content: space-between;
            /*border-bottom: 1px solid #eee;*/
            margin-bottom: 10px;
            /*background: #eee;
    padding: 10px;*/
        }
        
        .svgImg {
            border: 1px solid #E8E8E8;
            height: 20px;
            width: 20px;
            padding: 5px;
            margin-right: 17px;
        }
        
        .whatsaroundTitle,
        .specialOfferTitle {
            font-size: 16px;
        }
        
        .whatsaroundTitle {
            color: #fff !important;
        }
        /*offerContainer start */
        
        .offersContainer {
            height: 70px;
            background: #004db7;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 4px;
        }
        
        .offersContainer h3 {
            margin: 0px;
            padding: 0px;
            font-weight: normal;
            font-size: 18px;
        }
        
        .offersContainer i {
            font-size: 50px;
            flex-grow: 1;
        }
        
        .offerData label {
            font-size: 12px;
        }
        
        .offerData {
            flex-grow: 6;
        }
        
        .offerPercentage {
            height: 50px;
            width: 70px;
            background: #fff;
            color: #004db7;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }
        
        .offerPercentage strong {
            font-size: 36px;
        }
        
        .offerPercentage sub {
            margin-top: 7px;
            font-size: 24px;
        }
        
        .review {
            height: 402px;
            max-height: 402px;
            overflow-y: scroll;
        }
        /*offerContainer end */
        
        .rememberMeAndForgotPasswordContainer {
            display: flex;
            justify-content: flex-start;
            margin-top: 4px;
            color: #555;
            font-size: 14px;
            flex-flow: row wrap;
            width: 92%;
            padding-top: 15px;
        }
        
        .termsacceptlink {
            cursor: pointer;
            color: #004DB7;
        }
        
        .termsText {
            font-size: 14px;
        }
        
        .descriptionTitleDiv {
            color: #424242;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 20px;
        }
        
        .callNowInformationContainer {
            display: flex;
            justify-content: flex-start;
            margin-top: 25px;
            margin-top: 12px;
        }
        
        .callNowPopUp {
            width: 530px !important
        }
        
        .callNowInformationContainer textarea {
            width: 100%;
            height: 40px;
            padding-left: 12px;
            font-family: Roboto-Regular;
            font-size: 12px;
        }
        
        .callNowPopUpHeader {
            display: flex;
            justify-content: space-between;
            background-color: #6A97FF;
            height: 50px;
            color: white;
            font-size: 18px;
            display: flex;
            align-items: center;
            padding-left: 20px;
        }
        
        .noClick {
            cursor: no-drop;
        }
        
        .noClick:hover {
            background-color: none;
        }
        
        .callNowPopup-body {
            padding: 15px;
            position: relative;
            min-height: 70px;
        }
        
        .callNowPoUpDetailsInfoContainer {
            display: flex;
            margin-top: 20px;
            flex-direction: column;
        }
        
        .callNowPopUpFooter {
            display: flex;
            justify-content: center !important;
            padding-top: 24px;
            padding-bottom: 12px;
        }
        
        .callNowInformationContainer label {
            padding-right: 20px;
        }
        
        .callNowInformationContainer input {
            width: 100%;
            height: 25px;
            padding-left: 12px;
            font-size: 12px;
        }
        
        .popup-footer {
            border: none;
        }
        
        .popup-footer span {
            width: 15px;
        }
        
        .rightCallNowInformtationContainer {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 7px;
        }
        
        .CallNowpopUpSection {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            margin-top: 13px;
        }
        
        .labelInfoHeading {
            margin-right: 20px;
        }
        
        .callNowIcon {
            margin-right: 12px;
        }
        
        .callNowPopUpTable {
            border-collapse: inherit;
            border-spacing: 0;
            font: normal 13px Arial, sans-serif;
        }
        
        .callNowPopUpTable tbody td {
            border: solid 1px #c1c1c1;
            color: #333;
            padding: 10px;
            text-align: center;
        }
        
        .callNowPopUpTable tbody tr:first-child {
            background-color: darkgray !important;
            font-weight: bold;
        }
        
        .closeIcon {
            float: right;
            font-size: 25px;
            cursor: pointer;
            margin-right: 7px;
            margin-top: 7px;
            color: white;
        }
        
        .disableButtonColor {
            background-color: #c1c1c1!important;
            cursor: no-drop;
            width: 114px;
            height: 40px;
            border: none;
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
        
        .bookNowButton:hover {
            background: #6a96ff;
        }
        
        @media screen and (min-width:320px) and (max-width:480px) and (orientation: portrait) {
            app-footer {
                display: none;
            }
            #consumerParentContainer {
                flex-flow: row wrap;
            }
            .priceAndFecilityDiv,
            .facilitySeatsAreaInfoItem,
            .fromDate,
            .toDate {
                width: 100%;
                margin-top: 12px;
            }
            .facilitySeatsAreaInfoContainer {
                flex-flow: row wrap;
            }
            .nearbyLocationparent {
                flex-flow: row wrap;
            }
            .dateContainer {
                width: 100%;
            }
            .datePickerContainer {
                flex-flow: row wrap;
            }
            .bookNowAndTotalParent {
                width: 90%;
            }
            .totalButton,
            .disableButtonColor {
                width: 100%;
                margin-top: 10px;
            }
            .bookNowButton {
                width: 100%;
                margin-top: 12px;
            }
            .seats {
                margin-left: 13px;
                margin-top: 11px;
            }
            .thumbnailTitle span:first-child {
                font-size: 15px !important;
            }
            .thumbnailTitle span:last-child {
                font-size: 12px !important;
            }
            .callNowButton {
                width: 105px;
                padding-left: 4px;
                padding-right: 8px;
                font-size: 11px;
            }
            .popup-footer button {
                padding: 8px 12px;
            }
            .descriptionTitleDiv div {
                margin-right: 5px;
                font-size: 15px;
                justify-content: flex-start;
            }
            .mapiconAndPlace {
                margin-top: -16px;
                padding-bottom: 30px;
                align-items: center;
            }
            .amount {
                font-size: 12px!important;
            }
            .facilitySeatsAreaInfoItem img {
                width: 5%!important;
            }
        }
        
        @media screen and (min-width:640px) and (max-width:800px) and (orientation:landscape) {
            #consumerParentContainer {
                flex-flow: row wrap;
            }
            .priceAndFecilityDiv {
                width: 100%;
            }
            .bookNowAndTotalParent {
                width: 100%;
                justify-content: space-around;
                display: flex;
            }
            app-footer {
                display: none;
            }
            .nearbyLocationparent {
                flex-flow: row wrap;
            }
            .facilitySeatsAreaInfoItem {
                width: 32%;
            }
            .costPerHour,
            .costPerDay,
            .costPerMonth {
                width: 32%;
            }
            .totalButton {
                width: 75%;
            }
        }